<!-- <kendo-card>
    <kendo-card-body>

    </kendo-card-body>
</kendo-card> -->

<kendo-tilelayout
  [columns]="1"
  [resizable]="false"
  [reorderable]="false"
  class="home-body"
  [gap]="0"
  [style]="'padding: 0 !important;height:100%'"
>
  <kendo-tilelayout-item
    [col]="1"
    [colSpan]="1"
    style="border-radius: 0 !important"
  >
    <kendo-tilelayout-item-body>
      <div style="display: flex; justify-content: center;">
        <h3 style="font-size: 19px; padding-top: 0%;">{{simpleData.ItemData}}</h3>
        <h3 style="font-size: 19px; padding-top: 0%;"><b>: {{ simpleData.ItemValue | formatAmount : numberType}}</b></h3>
      </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
