<!-- total-losses.component.html -->
<div class="total_losses_container slide-effect-x">
  <kendo-card style="width: 100%; margin: 0">
    <kendo-card-header class="total_losses">
      <h3 class="k-card-title total_losses_header">Total Losses</h3>
    </kendo-card-header>
    <kendo-card-body style="padding: 0" *ngIf="noDataFound; else noDataNotFound">
      <div class="agency_details1">
        <div class="row">
          <div class="totalloss">
            <div class="col-md-12">
              <div class="total_losses1" id="totalincurred">
                <b> {{ totalincurred }} </b>
              </div>
              <div class="loss_years">
                <div class="total-values light-green-color" id="totallosses">
                  <b>{{ totallosses }}</b>
                </div>
                <div class="totallosses_year">
                  <select
                    name="years"
                    id="years"
                    class="white-color dropdownselector"
                    (ngModelChange)="onDropdownChange($event)"
                  >
                    <option value="1" id="oneyear" class="dropoptionsize">
                      1yrs
                    </option>
                    <option value="2" id="twoyear" class="dropoptionsize">
                      2yrs
                    </option>
                    <option value="3" id="threeyear" class="dropoptionsize">
                      3yrs
                    </option>
                    <option value="4" id="fouryear" class="dropoptionsize">
                      4yrs
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div
                class="total_losses2 light-green-color"
                id="totalincurredvalue"
              >
                {{ totalincurredvalue }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lossesdetails">
        <table style="width: 100%">
          <tr>
            <th id="numberofclaims"># of Claims</th>
            <th id="numberofopenclaims"># of Open Claims</th>
            <th id="highestclaim">Highest Claim</th>
          </tr>
          <tr *ngFor="let item of totallossesdata">
            <td id="numberofclaimsvalue">{{ item.numberofclaims }}</td>
            <td id="numberofopenclaimsvalue">{{ item.numberofopenclaims }}</td>
            <td id="highestclaimvalue">{{ item.highestclaim }}</td>
          </tr>
        </table>
      </div>
    </kendo-card-body>

    <ng-template #noDataNotFound>
      <div class="no-data-message">
        <p>No data found.</p>
      </div>
    </ng-template>
  </kendo-card>
</div>
