.Agency_header{
    padding: 4% 2%;
    color: rgba(255,255,255,1);
    // position: absolute;
    // top: 209px;
    // left: 367px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.Agency{
// width: 500px;
height: 61px;
background: rgba(0,182,173,1);
opacity: 1;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05000000074505806);
overflow: hidden;
}

.totalloss{
    justify-content: center;
    text-align: center;
}
.total_losses1{
    text-align: center;
    padding: 8% 1% 1% 1%;
}
.total_losses2{
    text-align: center;
    color:rgba(0,182,173,1);
    font-size: 32px;
    
}

th, td{
    border:1px solid black;
    text-align: center;
}
th{
    padding: 3%;
}
td{
    padding: 8%;
}

.lossesdetails{
    padding-top: 8%;
}