.documents-container {
    display: flex;
    justify-content: space-between;
  }
  ::ng-deep .ngx-json-viewer {
    overflow-y: auto !important;
    }
  .documents-list {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .document-content {
    width: 60%;
    padding: 20px;
  }
  .bottom_border{
    // border-bottom: 1px solid rgb(230 230 230);
    margin: 0!important;
  }

  ::ng-deep .k-upload .k-upload-files .k-file{
    display: none!important;
  }

 ::ng-deep .kendo-tilelayout-item-body::-webkit-scrollbar {
   height: 900px!important;
  }

.files_header{
  font-size: 18px;
  padding: 2% 2% 10% 5%;
}

::ng-deep .c012{
  display: none!important;
}

.conversion_popup{
 padding: 0 0 0.5em 0;
}
.default-bg{
  background: #fff !important;
  color: #909090!important;
}
.selected-bg{
  background: #009cc1 !important;
  color: #fff !important;
}
::ng-deep #iframe-container #toolbar {
  display: none!important;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  width: 92%!important;
}

.file-div {
  background-color: #fff!important;
}

#preview-container {
  // border: 2px solid #000; 
  // border-radius: 10px; 
}

::ng-deep .mdc-button{
background: none!important;
}

.content-data{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.content-data p{
//  margin-top: 15vh;
 font-size: 20px;
 //position: absolute;
 //top:45%;
 //left:40%
}

.preview_border{
  border: 1px solid #ADADAD;
}

::ng-deep .file-item.selected {
  background-color: #009cc1;
  color: #fff;
}

/* fileviewer.component.scss */
::ng-deep  .file-div {
  padding: 4% 0;
  background-color: #fff;
}

::ng-deep  .file-button {
  border: none;
  background-color: #fff;
  color: #909090;
  text-align: left !important;
  padding-left: 10%;
  width: 100%;
}

::ng-deep  .selected .file-div,
.selected .file-button {
  background-color: #009cc1;
  color: #fff;
}


::ng-deep iframe.hide-first-icon .toolbarButton:first-child {
  display: none!important;
}