.documents-container {
    display: flex;
    justify-content: space-between;
  }
  
  .documents-list {
    width: 30%;
    padding: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .document-content {
    width: 60%;
    padding: 20px;
  }
  .bottom_border{
    border-bottom: 1px solid rgb(230 230 230);
    margin: 0!important;
  }

  ::ng-deep .k-upload .k-upload-files .k-file{
    display: none!important;
  }

 ::ng-deep .kendo-tilelayout-item-body::-webkit-scrollbar {
   height: 900px!important;
  }

.files_header{
  font-size: 18px;
  padding: 2% 2% 10% 5%;
}

::ng-deep .c012{
  display: none!important;
}

// .conversion_popup{
//   border: 1px solid rgba(0, 0, 0, 0.08);
//   border-radius: 15px;
// }

