<div class="exposer_container slide-effect-x1">
    <kendo-card style="width:100%;margin: 0;">
        <kendo-card-header class="exposure">
            <h3 class="k-card-title exposure_header">{{header}}</h3>
        </kendo-card-header>
        <kendo-card-body style="padding: 0;">

            <div class="agency_details1">
                <div class="row">
                  <div class="totalloss">
                    <div class="col-md-12">
                      <div class="total_losses1" id="totalincurred"><b> {{exposureKeys[0]}} </b></div>
                      <div class="loss_years">
                        <div class="total-values light-green-color" id="totallosses">
                         <b> {{ exposuredata[0].Total }} </b>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="total_losses2 light-green-color" id="totalincurredvalue"> </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="lossesdetails">
                <table style="width:100%; height: 10em;;">
                  <tr>
                    <th >{{exposureKeys[1]}}</th>
                    <th >{{exposureKeys[2]}}</th>
                    <th >{{exposureKeys[3]}}</th>
                  </tr>
                  <tr *ngFor="let item of exposuredata">
                    <td >{{ item.ExposureValue_1 }}</td>
                    <td >{{ item.ExposureValue_2 }}</td>
                    <td >{{ item.ExposureValue_3 }}</td>
                  </tr>
                </table>
              </div>


        </kendo-card-body>
    </kendo-card>
</div>







