<div class="pie-container">
  <div class="overlay NoData" *ngIf="noDataAvailble">
    <div>No data available</div>
  </div>
  <div class="chartArea" *ngIf="!noDataAvailble">
    <app-loader [showSpinner]="showSpinner"></app-loader>
    <kendo-chart
      #chart
      [seriesColors]="seriesColors"
      [pannable]="{ lock: 'y' }"
      [zoomable]="{ mousewheel: { lock: 'y' } }"
      [style]="'height: 100%;width:100%;'"
    >
      <kendo-chart-legend
        [position]="legendPos"
        [orientation]="legendOrientation"
        [visible]="true"
        class="custom-legend"
        [markers]="{ type: 'square' }"
        [align]="'center'"
      >
      </kendo-chart-legend>

      <ng-template kendoChartDonutCenterTemplate>
        <div>
          <h3 *ngIf="CenterValue != 0" style="margin: 0; color: #009cc1">
            <b>{{ CenterValue }}</b>
          </h3>
        </div>
      </ng-template>
      <kendo-chart-series >
        <kendo-chart-series-item
          [autoFit]="true"
          [type]="ChartType"
          [data]="chartData.Data"
          field="value"
          categoryField="category"
          [holeSize]="holeSize"
        >
          <kendo-chart-series-item-labels
            [position]="labelPosition"
            [content]="labelContent"
            [visible]="true"
            [background]="'transparent'"
            
            [align]="'column'"
            color="#009cc1"
            font = 'bold 12px'
          >
          </kendo-chart-series-item-labels>
          <kendo-chart-series-item-tooltip>
            <ng-template let-value="value">
              {{ value | formatAmount : prefix:suffix }}
            </ng-template>
          </kendo-chart-series-item-tooltip>
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
