<div class="pie-container">
  <div class="overlay NoData" *ngIf="noDataAvailble">
    <div>No data available</div>
  </div>
  <div class="chartArea" *ngIf="!noDataAvailble">
    <app-loader [showSpinner]="showSpinner"></app-loader>
    <kendo-chart
      #chart
      [seriesColors]="seriesColors"
      [pannable]="{ lock: 'y' }"
      [zoomable]="{ mousewheel: { lock: 'y' } }"
      [style]="'height: 100%;width:100%;font-size:11px'"
    >
      <kendo-chart-legend
        [position]="legendPos"
        [orientation]="legendOrientation"
        [visible]="true"
        class="custom-legend"
        [markers]="{ type: 'square', height: 18, width: 18 }"
        [offsetX]="0"
        [offsetY]="00"
        [align]="'center'"
      >
      </kendo-chart-legend>

      <ng-template kendoChartDonutCenterTemplate>
        <div>
          <h3 *ngIf="CenterValue != 0" style="margin: 0; color: #009cc1">
            <b>{{ CenterValue }}</b>
          </h3>
        </div>
      </ng-template>
      <kendo-chart-plot-area
        [background]="'green'"
        [margin]="{ left: 0, top: 0, right: 0, bottom: 0 }"
      >
      </kendo-chart-plot-area>
      <kendo-chart-series style="font-size: 22px !important">
        <kendo-chart-series-item
          [autoFit]="true"
          [type]="ChartType"
          [data]="chartData.Data"
          field="value"
          categoryField="category"
          [padding]="5"
          [holeSize]="70"
        >
          <kendo-chart-series-item-labels
            position="above"
            [distance]="20"
            [content]="labelContent"
            [visible]="true"
            [background]="'transparent'"
            [color]="'#009CC1'"
            [align]="'circle'"
            [margin]="labelMargin"
          >
          </kendo-chart-series-item-labels>
          <kendo-chart-series-item-labels-from
          position="outsideEnd"
          [padding]="10"
          >

          </kendo-chart-series-item-labels-from>
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
