.pie-container {
  height: 100%;
  .NoData {
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 12%;
  }
  .chartArea {
    height: 100%;
  }
  .tooltip {
    pointer-events: none;
  }

  ::ng-deep kendo-chart-legend {
    font-size: 9px !important;
  }

  ::ng-deep .chart-container kendo-chart .k-label {
    font-size: 9px !important;
  }

  ::ng-deep .pie-chart-labels {
    font-size: 11px !important;
  }

  ::ng-deep .k-card {
    box-sizing: border-box;
    font-size: 15px;
  }

  .custom-legend {
    font-size: 14px !important;
    padding-top: 10px;
  }
}
