<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <div style="float: left; width: 60%;">
      <button class="logo-back">
        <div style="width: fit-content; color: #fff;" *ngIf="!collapsed" [routerLink]="['/inbox/home']">
          <span>
            <mat-icon >arrow_back</mat-icon>
          </span>
        </div>
        <div style="width: fit-content;display: flex; align-items: center; color: #fff;font-weight: 400;" *ngIf="collapsed" [routerLink]="['/inbox/home']">
          <mat-icon >arrow_back</mat-icon><div style="width:100%;padding-left: 1%;"> back to inbox</div>
        
        </div>
      </button>
    </div>
    <div>
      <button class="logo" (click)="toggleCollapse()">
        <div style="width: fit-content" *ngIf="!collapsed">
          <mat-icon style="color: #f5f5f5;text-align: left;">skip_next</mat-icon>
        </div>
        <div style="width: fit-content" *ngIf="collapsed">
          <mat-icon class="skip_previous">skip_previous</mat-icon>
        </div>
      </button>
    </div>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <!-- <a
        class="sidenav-nav-link"
        [routerLink]="[data.routeLink]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        [routerLinkActiveOptions]="{ exact: false }"
        queryParamsHandling="preserve"
      >
        <i
          class="sidenav-link-icon"
          *ngIf="!collapsed"
          matTooltip="{{ data.label }}"
          matTooltipPosition="right"
          [class]="data.icon"
        ></i>
        <i class="sidenav-link-icon" *ngIf="collapsed" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{ data.label }}
        </span>
      </a> -->
      <a
    class="sidenav-nav-link"
    [routerLink]="[data.routeLink]"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    [routerLinkActiveOptions]="{ exact: false }"
    queryParamsHandling="preserve"
  >
    <img
      class="sidenav-link-icon icon_alignment"
      *ngIf="!collapsed"
      matTooltip="{{ data.label }}"
      matTooltipPosition="right"
      [src]="data.imagePath" 
    />
    <img
      class="sidenav-link-icon"
      *ngIf="collapsed"
      [src]="data.imagePath" 
    />
    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
      {{ data.label }}
    </span>
  </a>
    </li>
  </ul>

  <div></div>
</div>
