.sidenav-inbox {
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
    top: 0;
    border-radius: 10px;
    width: 4.3vw;
    height: 100%;
    //   height: 645px;
    box-shadow: 0;
    .close-container{
      display: flex;
      align-items: center;
      // padding: 0.938rem 0 0.8rem 0.2rem;
      width: 150%;
      color:white;
      background-color: transparent;
      padding: 22%;
      button{
        color: transparent;
        background: transparent;
        border: none;
      }
    }
    .logo-container {
      // display: flex;
      // align-items: center;
      // padding: 0.938rem 0 0.8rem 0.2rem;
      // width: 150%;
      color:#000;
    background-color: #FFBB0E;
    padding: 5%;
      .logo {
        background: transparent;
        text-align: center;
        width: 1rem;
        min-width: 1rem;
        border-radius: 0.313rem;
        padding-left: 0.8rem;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
      }
      .logo-back {
        background: transparent;
        text-align: center;
        //width: 1rem;
        min-width: 1rem;
        border-radius: 0.313rem;
        padding-left: 0.1rem;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
      }
  
      .logo-text {
        margin-left: 1.5rem;
        font-size: 18px;
        color: #fff;
      }
  
      .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;
  
        .fa-times {
          color: #fff;
          font-size: 22px;
        }
      }
    }
  }
  
  .sidenav-collapsed {
    width: 6rem;
    text-align: center;
  }
  
  .sidenav-nav {
    list-style: none;
    padding: 0.0rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
  
    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 0.5rem;
  
      .sidenav-nav-link {
        // display: flex;
        align-items: center;
        height: 1.5rem;
        color: #ffffff91;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: all 0.3s ease;
        // padding: 10% 8% 10% 2%;
        // justify-content: center;
        .sidenav-link-icon {
          font-size: 14px;
          // width: 2rem;
          //min-width: 2rem;
          //margin: 0 0.5rem;
          text-align: center;
          // color: #f5f5f5;
          width: 22px;
          height: 22px;
          padding-right: 4%;
          color:#ffffff91;
          font-weight: 500;
        }
  
        .sidenav-link-text {
          font-size: 12px;
          margin-left: 0rem;
          color:#ffffff91;
          // color: #f5f5f5;
        }
        
      }
    }
  
    .sidenav-nav-item:hover {
      .sidenav-nav-link {
        background-color: #d9d8d696;
        color: black!important;
        padding: 10% 8% 10% 2%;
      }
    }
  }
.active .summary_menu {
    background-color: #0084A4;
    padding: 14% 3% 12% 3%;
    .sidenav-link-icon,
    .sidenav-link-text {
      color: #F5F5F5!important;
    }
  }

  .summary_menu{
    padding: 14% 3% 12% 3%;
    line-height: 1;
  }

 .summary_menu:hover{
    // background-color: #0084A4;
    padding: 14% 3% 12% 3%;
  }


  .mat-card {
    height: 3.5rem;
    margin-right: -0.7rem !important;
    margin-left: 0rem !important;
  }
  
  
  ::ng-deep mat-tooltip-component{
    & .mat-tooltip{
      background-color: #f5f5f5 !important;
      color: #0c2340 !important;
      font-size: 12px!important;
      margin-left: 20px;
    }
  
  }
  
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  color:#F5F5F5!important;
  // padding-left: 5%;
  }
  .summary_menu .icon_alignment{
    color:#F5F5F5!important;
    text-align: center!important;
  }

  

  .logo{
    text-align: left;
  }

 ::ng-deep .icon_alignment{
  //  position: absolute;
  //  left:2%;
  margin-left: 30%;
  width:18px!important;
  height:18px!important;
  padding: 0!important;
  }

  .sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
    background-color: #d9d8d66b;
    color: #fff !important;
}

.skip_previous{
  color: #000;
position: absolute;
top: 2.5%;
    right: 2%;
}