<!-- <p>Home</p> -->
<div style="height: 9.5%;background-color:#EEF2F7;">
  <kendo-tilelayout
    [columns]="1"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-header"
  >
    <kendo-tilelayout-item [col]="1" [colSpan]="1" [row]="1" [rowSpan]="1">
      <kendo-tilelayout-item-body style="padding: 0;background-color:#EEF2F7;" >
        <app-topbar></app-topbar>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
<div style="height: 4.5%">
   <kendo-tilelayout
    [columns]="1"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-separator"
    style="border-radius:none!important"
  >
    <kendo-tilelayout-item
      [col]="1"
      [colSpan]="1"
      [row]="1"
      [rowSpan]="1"
      class="home-separator-body"
    >
      <kendo-tilelayout-item-body> </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout> 
</div>
<div style="background: #EEF2F7; height: 86%;">
  <div style="float: left; height: 96%; margin-top: 1%; margin-left: 1%">
    <kendo-tilelayout
      [columns]="1"
      [rowHeight]="'110%'"
      [resizable]="false"
      [reorderable]="false"
      class="home-menu"
      [style]="'height: 42%;'"
    >
      <kendo-tilelayout-item
        [col]="1"
        [colSpan]="1"
        [row]="1"
        [rowSpan]="2"
        class="home-menu"
      >
        <kendo-tilelayout-item-body>
          <app-sidemenubar></app-sidemenubar>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </div>
  <div style="height: 100%;">
    <kendo-tilelayout
      [columns]="7"
      [rowHeight]="'100%'"
      [resizable]="false"
      [reorderable]="false"
      class="home-body"
      [style]="'height: 94%;'"
      
    >
      <kendo-tilelayout-item [col]="1" [colSpan]="6">
        <kendo-tilelayout-item-body style="padding: 0">
          <div style="height: 100%;overflow: auto;">
            <kendo-tilelayout
              [columns]="1"
              [resizable]="false"
              [reorderable]="false"
              class="home-widget"
            >
              <kendo-tilelayout-item [col]="1" [colSpan]="1">
                <kendo-tilelayout-item-body
                  style="background: #F5F5F5; padding: 0"
                >
                  <app-dashboardwidgets></app-dashboardwidgets>
                </kendo-tilelayout-item-body>
              </kendo-tilelayout-item>
            </kendo-tilelayout>
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item [col]="7" [rowSpan]="1" style="background-color: #F5F5F5;">
        <kendo-tilelayout-item-body style="padding: 0; background: #F5F5F5;">
          <div>
            <kendo-tilelayout
              [columns]="1"
              [resizable]="false"
              [reorderable]="false"
              [rowHeight]="'50%'"
              [style]="'padding:0'"
            >
              <kendo-tilelayout-item [col]="1" [colSpan]="1" [row] ="1" >
                <kendo-tilelayout-item-body style="padding: 0">
                  <app-reminders></app-reminders>
                </kendo-tilelayout-item-body>
              </kendo-tilelayout-item>
              <kendo-tilelayout-item [col]="1" [colSpan]="1"  [row] ="2">
                <kendo-tilelayout-item-body style="padding: 0">
                  <app-news></app-news>
                </kendo-tilelayout-item-body>
              </kendo-tilelayout-item>
            </kendo-tilelayout>
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </div>
</div>
<app-footer></app-footer>

