.home-header
{
    padding: 0 !important;
}
.home-body
{
    padding-bottom : 0 !important;
    padding-top : 0 !important;
}
.home-separator{
    padding: 0 !important;
    background: blue !important;
}
.home-menu{
    padding: 0 !important;
    .k-card-body{
        padding-block: 0 !important;
        padding-inline: 0 !important;
    }
}