.home-widget{
    padding: 0 !important;
}
// .k-tilelayout {
//     background-color: #F5F5F5!important;
// }

::ng-deep .home-separator{
border-radius: none!important;
width:100%!important;
}


// .gradient-background {
//     background: linear-gradient(to top, #009CC1 20%, #000 50%, #009CC1 80%, #000 50%);
//   }
  