<!-- <p>Home</p> -->
<div style="height: 8%">
  <kendo-tilelayout
    [columns]="1"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-header"
  >
    <kendo-tilelayout-item [col]="1" [colSpan]="1" [row]="1" [rowSpan]="1">
      <kendo-tilelayout-item-body style="padding: 0;">
        <app-topbar></app-topbar>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
<div style="height: 5%">
  <kendo-tilelayout
    [columns]="1"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-separator"
  >
    <kendo-tilelayout-item
      [col]="1"
      [colSpan]="1"
      [row]="1"
      [rowSpan]="1"
      class="home-separator-body"
    >
      <kendo-tilelayout-item-body> </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
<div style="float: left; height: 80%; margin-top: 1%; margin-left: 1%">
  <kendo-tilelayout
    [columns]="1"
    [rowHeight]="'110%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-menu"
  >
    <kendo-tilelayout-item
      [col]="1"
      [colSpan]="1"
      [row] = "1"
      [rowSpan]="2"
      class="home-menu"
    >
      <kendo-tilelayout-item-body>
        <app-sidemenubar></app-sidemenubar>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
<div>
  <kendo-tilelayout
    [columns]="7"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="home-body"
  >
    <kendo-tilelayout-item [col]="1" [colSpan]="6" >
      <kendo-tilelayout-item-body>
        <app-dashboardwidgets></app-dashboardwidgets>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
    <kendo-tilelayout-item [col]="7">
      <kendo-tilelayout-item-body>
        <h3>9%</h3>
        <div>Visitor to Customer</div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
