<!-- <kendo-tabstrip (tabSelect)="onTabSelect($event)" style="grid-auto-rows: auto; position: relative; height: 100%;">
    <kendo-tabstrip-tab title="Claim Details" [selected]="true" style="grid-auto-rows: auto;">
      <ng-template kendoTabContent>
        <div class="content">
            <generic-table [columns]="columns" [height]="43" [data]="claimDetails"></generic-table> 
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
</kendo-tabstrip> -->


<kendo-tabstrip (tabSelect)="onTabSelect($event)" style="grid-auto-rows: auto; position: relative; height: 100%;">
  <kendo-tabstrip-tab title="Loss Insights" [selected]="true" style="grid-auto-rows: auto;">
    <ng-template kendoTabContent>
      <app-loss-summary></app-loss-summary>
    </ng-template>
  </kendo-tabstrip-tab>
    <kendo-tabstrip-tab title="Summary" [selected]="false" style="grid-auto-rows: auto;">
      <ng-template kendoTabContent>
        <div class="content" style="height: 100%;">
            <generic-table [columns]="columns" [height]="43" [data]="claimDetails"></generic-table> 
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
    
</kendo-tabstrip>
    

