.documents-container{
    padding: 2%;
    
}

// .document-content h2{
//     padding-left: 10%;
// }

.document-content{
    padding-top: 4%;
}

.documents-list div{
font-size: 15px;
}

.documents-list h3{
    margin: 0;
    padding-bottom: 5%;
}
