::ng-deep .k-tilelayout {
    background-color: #F5F5F5;
  }
  
  // ::ng-deep .k-card {
  //   background-color: #F5F5F5;
  // }
  
  .add_icon1{
    // padding: 0% 0.7% 0.5% 0.5%;
    color: #ffffff;
    padding: 0% 0% 4% 0%;
  }
  
  .add_icon1 .mat-icon{
  margin-top: -1%;
  }
  
  .sub-header{
    background-color: #009CC1;
    border-radius: 8px;
  }
  
  .add_icon span{
    position: absolute;
    margin-top: 0.6%;
    margin-left: -1.2%;
  }
  
  .subheader_text{
  display: flex;
  padding-bottom: 0.5%;
  }
  
  .profile_icon{
  background-color: #ffffff;
  padding: 0% 0.5% 0% 0.5%;
  border-radius: 8px;
  }
  
  .profile_icon .mat-icon{
    margin-top: 13%;
  }
  
  .notification_icon{
    background-color: #ffffff;
  padding:0% 0.5% 0% 0.5%;
  }
  
  .notification_icon .mat-icon{
    margin-top: 8%;
  }
  
  .filter_icon{
    background-color: #ffffff;
    padding:0% 0.5% 0% 0.5%;
  }
  
  .filter_icon .mat-icon{
    margin-top: 8%;
  }
  
  .setting_icon{
    background-color: #ffffff;
    padding:0% 0.5% 0% 0.5%;
    border-radius: 8px;
  }
  
  .setting_icon .mat-icon{
    margin-top: 8%; 
  }
  
  .all_text{
    background-color: #ffffff;
    padding: 10% 0.5% 10% 0.5%;
    border-radius: 8px;
  }
  
  .new_text{
    background-color: #ffffff;
    padding: 10% 1.5% 10% 1.5%;
    border-radius: 8px;
  }
  
  .pending_text{
    background-color: #ffffff;
    padding: 4.5% 0.5% 4.5% 0.5%;
    border-radius: 8px;
  }
  
  .rush_text{
    background-color: #ffffff;
    padding: 5.2% 0.5% 5.2% 0.5%;
    border-radius: 8px;
  }
  
  /*icons bar*/
  .table_subheader1{
    padding-right: 1%;
    width: 17%;
    text-align: center;
  }
  
  .table_subheader2{
    padding-right: 1%;
    width: 4.5%;
    text-align: center;
  }
  
  .table_subheader3{
    padding-right: 1%;
    width: 5%;
    text-align: center;
  }
  
  .table_subheader4{
    padding-right: 1%;
    width: 5%;
    text-align: center;
  }
  
  
  .table_subheader5{
    padding-right: 1%;
    width: 6%;
    text-align: center;
  }
  
  .table_subheader6{
    padding-right: 1%;
    width: 6%;
    text-align: center;
  }
  
  .table_subheader7{
    padding-right: 1%;
    width: 6%;
    text-align: center;
  }
  
  .table_subheader8{
    padding-right: 1%;
    width: 13%;
    text-align: center;
  }
  
  .table_subheader9{
    padding-right: 1%;
    width: 10.5%;
    text-align: center;
  }
  
  .subheader_text button{
  background-color: #fff;
      border: none;
      border-radius: 8px;
  }
  
  // .copied_icon{
  // background-color: #ffffff;
  // padding: 5% 0% 2.4% 3%;
  // border-radius: 8px;
  // }
  
  .copied_icon .mat-icon span{
  position: absolute;
  margin-top: 4%;
  margin-left: -1%;
  }
  
  .dropdown ul{
  position: absolute;
  margin-top: 18%;
  }
  
  .side_icons{
    width: 105%;
    }
    
    // .copied_icon span{
    // background-color: #ffff;
    // position: absolute;
    // margin-top: -3%;
    // }
    
  
    
    // .subdropdown{
    //   position: absolute;
    //   margin-top: 0;
    // }
  
    .subheaderdropdown{
      position: fixed;
      margin-top: -0.1%;
      background-color: #ffffff;
      padding: 0% 0.2% 0.3% 0.5%;
      border-radius: 8px;
    }

    .numberofall{
      color:#009CC1;
      margin-left: 3px
    }

    .numberofnew{
      color:#009CC1;
      margin-left: 3px
    }

    .numberofpending{
      color:#009CC1;
      margin-left: 3px
    }

    .numberofrush{
      color:#009CC1;
      padding-left: 0%;
      margin-left: 3px
    }