<!-- <kendo-chart
[style]="'height: 100%;width:80%;font-size:11px'"
>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="funnel"
        [data]="chartData"
        field="count"
        categoryField="stat"
        colorField="color"
          background="none"
          color="white"
          format="N0"
        >
        <kendo-chart-series-item-labels
          background="none"
          color="white"
          format="N0"
          
          [style]="{'font-size': '4px' }"
        >
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="true" position="bottom"></kendo-chart-legend>
  </kendo-chart> -->




 
  <!-- <kendo-chart
  [style]="'height: 100%;width:80%;font-size:11px'"
  >
      <kendo-chart-series>
        <kendo-chart-series-item
          type="funnel"
          [data]="chartData"
          field="count"
          categoryField="stat"
          colorField="color"
          [dynamicHeight]="false"
          [dynamicSlope]="false"
        >
          <kendo-chart-series-item-labels
            background="none"
            color="white"
            format="N0"
            
            [style]="{'font-size': '4px' }"
          >
          </kendo-chart-series-item-labels>
        </kendo-chart-series-item>
      </kendo-chart-series>
      <kendo-chart-legend [visible]="true" position="bottom"></kendo-chart-legend>
    </kendo-chart> -->



    <kendo-chart
    [seriesColors]="seriesColors"
[style]="'height: 100%;width:80%;font-size:11px'"
>
    <kendo-chart-series>
      <kendo-chart-series-item
      type="funnel"
      [data]="chartData"
      field="data"
      categoryField="category"
      colorField="color"
      [dynamicHeight]="true"
      [dynamicSlope]="false"
    >
        <kendo-chart-series-item-labels
        background="none"
            color="white"
            format="N0"
            
            [style]="{'font-size': '4px' }">
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="true" position="bottom"></kendo-chart-legend>
  </kendo-chart>