<kendo-chart>
    <kendo-chart-series>
      <kendo-chart-series-item
        type="funnel"
        [data]="chartData"
        field="count"
        categoryField="stat"
        colorField="color"
        [dynamicHeight]="true"
        [dynamicSlope]="false"
      >
        <kendo-chart-series-item-labels
          background="none"
          color="white"
          format="N0"
        >
        </kendo-chart-series-item-labels>
      </kendo-chart-series-item>
    </kendo-chart-series>
    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
  </kendo-chart>