<div>
  <kendo-tilelayout
    [columns]="24"
    [rowHeight]="'100%'"
    [resizable]="false"
    [reorderable]="false"
    class="top-bar-header"
    [gap]="0"
  >
    <kendo-tilelayout-item [col]="1" [colSpan]="6" [row]="1" [rowSpan]="1">
      <kendo-tilelayout-item-body>
        <ng-container
          *ngIf="genericService.idToDisplay === 1; else noHeaderImage"
        >
          <div class="header_img">
            <img [src]="genericService.headerImageURL" class="imgHeight" />
          </div>
        </ng-container>

        <ng-template #noHeaderImage> </ng-template>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item [col]="7" [colSpan]="12" [row]="1" [rowSpan]="1">
      <kendo-tilelayout-item-body>

      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item [col]="19" [colSpan]="7" [row]="1" [rowSpan]="1">
      <kendo-tilelayout-item-body style="float: right; padding: 2%">
        <div class="header-icons" style="display: flex">
          <div class="kendoimg" style="width: 17%">
            <!-- <span class="copied_icontop">
              <img
                [src]="genericService.topbarIconURL"
                class="imgHeight copied_icon1"
              />
            </span> -->
            <kendo-button class="copied_icontop" style="background: transparent;
            border: none;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;" (click)="openDialog()">
              <img
                [src]="genericService.topbarIconURL"
                class="imgHeight copied_icon1"
              />
            </kendo-button>
          </div>
          <div class="notificationimg" style="width: 17%">
            <span class="notification_icon">
              <img
                [src]="genericService.notificationIconURL"
                class="imgHeight"
              />
              <span class="badge">{{ genericService.notificationCount }}</span>
            </span>
          </div>
          <div class="profileimg" style="width: 17%">
            <span class="profile_icon">
              <img
                [src]="genericService.profileImageURL"
                class="imgHeight rounded-circle"
              />
            </span>
          </div>
          <div class="imgcontent" style="width: 25%; padding-top: 2%; text-align: left;">
            <span class="profile_content">Evelyn Salt </span>
            <span class="position">Underwriter</span>
          </div>
          <div style="width: 17%;">
            <span
              style="border: transparent !important;"
              [matMenuTriggerFor]="menu"
              #menuTrigger="matMenuTrigger"
              (mouseover)="openMyMenu(menuTrigger)"
            >
              <span class="dropdown_icon">
                <mat-icon class="custom-icon"
                  ><span class="material-icons-outlined">
                    arrow_drop_down
                  </span></mat-icon
                >
              </span>
            </span>
            <mat-menu
              #menu="matMenu"
              class="profiledropdown"
              style="color: #f5f5f5 !important"
            >
              <span (mouseleave)="closeMyMenu(menuTrigger)">
                <button
                  mat-menu-item
                  routerLink="/changepassword"
                  queryParamsHandling="preserve"
                >
                  Change Password
                </button>
                <button
                  mat-menu-item
                  routerLink="/contactus/2"
                  queryParamsHandling="preserve"
                >
                  Contact Us
                </button>
                <button mat-menu-item (click)="Logout()">Logout</button>
              </span>
            </mat-menu>
          </div>
        </div>
      </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
  </kendo-tilelayout>
</div>
