.header_img img {
  width: 40%;
}
.top_bar {
  padding: 1%;
}

// .search_bar input{
// border-radius: 20px;
// border: 1px solid gray;
//     padding: 4%;
//     padding-left: 18%;
// }

//   .input-with-icon {
//     background-image: url('../../../assets/images/search.png');
//     background-repeat: no-repeat;
//     background-position: 10px center;
//     background-size: 14px 14px;
//   }
.copied_icon img {
  width:80%;
  height: 8%;
  border: 1px solid gray;
  border-radius: 21px;
  padding: 0.6%;
  // margin-left: 13%;
}

// .copied_icontop{
//   padding: 20%;
// }

.copied_icontop img {
  width: 3.2rem;
  height: 3.2rem;
  border: 1px solid gray;
  border-radius: 28px;
  padding: 8% 8% 8% 8%;
}

.notification_icon img {
  width: 100%;
  height: auto;
  border: 1px solid gray;
  border-radius: 30px;
  padding: 0.6%;
}

.copied_icon {
  display: inline;
}
.copied span {
  padding-left: 2%;
  font-weight: 600;
}

.profile_icon {
    img {
      width: 100%;
      height: auto;
      border: 1px solid gray;
      border-radius: 21px;
      padding: 0.6%;
      // margin-left: 13%;
    }
}
.rounded-circle {
  border-radius: 50%;
}
//   .profile_content {
//   display: flex;
//   align-items: center;
// }

.name {
  margin-right: 5px;
}

.role {
  font-size: 12px;
  color: gray;
}

.dropdown button {
  background: none;
  border: none;
}

.dropdown_icon {
  width: 80rem;
}

.dropup_icon {
  width: 80rem;
}

.search_bar {
  display: inline-flex;
}

.settings_option img {
  // position: fixed;
  // right: 0;
  // top: 0;
  float: right;
  margin-top: -12.2%;
}

.settings_option .dropdown {
  float: right;
  position: fixed;
  margin-left: 22.8%;
  font-weight: 400;
  font-size: 13px;
  margin-right: 1%;
}



.profile_content .position {
  font-size: 11px;
  color: gray;
}

::ng-deep .mat-mdc-card {
  width: 100%;
}

.dropdown ul {
  list-style-type: none;
  padding: 0%;
}

.badge {
  background-color: red;
  color: white;
  /* padding: 4px 8px; */
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: 3%;
  right: 66%;
}

.dropdown ul li a {
  text-decoration: none;
  color: black;
}

// ::ng-deep .mat-mdc-card-content:first-child {
//     padding: 8% 0% 8% 0%;
//     padding-right: 16px;
//     padding-bottom: 8px!important;
// }

.dropdown ul li {
  padding: 5%;
}

.dropdown ul li:hover {
  background-color: lightgrey;
  color: black;
}
::ng-deep .mat-mdc-card-content {
  padding: 0 !important;
}

::ng-deep .top-bar-header {
  padding: 0 !important;
}
.k-tilelayout {
  background-color: transparent !important;
  .k-card {
    border-width: 0px !important;
  }
}

.header-icons{
  text-align: right;
}

.kendoimg{
  padding-right: 3%;
}

.notificationimg{
  padding-right: 3%;
}

.profileimg{
  padding-right: 3%;
}

.imgcontent{
  //padding-right: 8%; 
  font-size: 14px;
}

.imgcontent .position{
  position: relative;
  // bottom: 40%;
  // right: 17%;
  // top: 60%;
}

.dropdown_icon{
  //padding: 3% 2% 0% 2%;
  border-radius: 50%;
}
.custom-icon{
  height: auto !important;
  width: auto !important;
  padding-top: 3% !important;
}
.dropdown_icon span{
font-size: 47px;
border: 1px solid gray;
border-radius: 50%;
// position: fixed;
// right: 1%;
// top: 1.5%;
}