.news_header{
    display: flex;
}

.news_header .news_icons{
   position: fixed;
   right:3%;
}
.news_header{
    padding: 4%;
}
.news_img{
    width: 4vw;
    height: 4vw;
}
.read_more{
    position: fixed;
    right: 3%;
    margin-top: -4px;
    font-size: 12px;
}
.news_header h3{
    margin: 0;
}
.news_content{
    font-size: 12px;
}
.newsimg_section{
    padding: 27% 0% 0% 0%;
}
.newscontent_section{
    padding-left: 5%;
}

  
kendo-card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }