  <div class="example-config row">
  </div>
 <kendo-panelbar
    [expandMode]="expandMode"
    [height]="height + 'px'"
    (stateChange)="onPanelChange($event)"
  >
    <kendo-panelbar-item title="News" [expanded]="true" class="news_data">
      <kendo-panelbar-item *ngFor="let newsItem of newsItems" title="{{ newsItem.content }}" [expanded]="true" style="font-size: 12px;">
      
        <!-- <ng-template kendoPanelBarContent>
            <img
            class="news_img"
            [src]="//assets/images/profile.png">
            </ng-template> -->
    </kendo-panelbar-item>
  
    <kendo-panelbar-item *ngFor="let newsItem of newsItems" title="{{ newsItem.content }}" [expanded]="true" style="font-size: 11px;">
        <!-- <ng-template kendoPanelBarContent>
        <img
        class="news_img"
        [src]="//assets/images/profile.png">
        </ng-template> -->
    </kendo-panelbar-item>
      <kendo-panelbar-item  *ngFor="let newsItem of newsItems"
      [expanded]="true" title="{{ newsItem.readMoreLink }}"> Read More
</kendo-panelbar-item>
</kendo-panelbar-item>
  
    
  
  </kendo-panelbar> 




>
  