<div class="changePasswordContainer">

    <h2 class="header-black"><b>Change Password</b></h2>



    <div class="bluetopbar">
      <kendo-tilelayout
        [columns]="30"
        [rowHeight]="'100%'"
        [resizable]="false"
        [reorderable]="false"
        class="top-bar-header"
        [gap]="05"
        
      >
      
        <kendo-tilelayout-item class="divider" [col]="1" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: transparent;">
          <kendo-tilelayout-item-body>
            
          </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        <kendo-tilelayout-item class="divider" [col]="11" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #fff;overflow: visible;">

          <kendo-tilelayout-item-body>
            <p
            style="
              width: 90%;
              text-align: center;
              padding-left: 10%;
              margin-bottom: 5%;
              padding-top: 10px;
            "
            class="forgt_subheader"
          >
            The new password must be different to previously used passwords.
          </p>
          <div class="resetfrm">
            <validation-summary [form]="resetPasswordForm" [errors]="validationErrors" *ngIf="validationErrors.length>0"></validation-summary>
            <form
              [formGroup]="resetPasswordForm"
              style="margin-bottom: 0; width: 70%"
              (keydown.enter)="ChangePassword($any($event))"
            >
            <app-input [PlaceHolder]="'Current Password'" [Type]="'password'" formControlName="oldpassword" [TooltipContent]="tooltip"></app-input>
            <app-input [PlaceHolder]="'New Password'" [Type]="'password'" formControlName="password" [TooltipContent]="tooltip"></app-input>
            <app-input [PlaceHolder]="'Repeat Password'" [Type]="'password'" formControlName="confirmpassword" [TooltipContent]="tooltip"></app-input>
            </form>
          </div>
          <div class="row">
            <!-- <div
              class="row"
              *ngIf="!isSuccess"
              style="margin-top: -8%; margin-bottom: 2%"
            >
              <div
                class="col-md-12"
                style="
                  color: red;
                  padding-left: 0px;
                 text-align: center;
                  font-size: 12px;
                "
                *ngFor="let err of this.validationErrors"
              >
                {{ err.Error }}
                <mat-error *ngIf="!isSuccess">{{this.errors}}</mat-error> 
              </div>
            </div> -->
            <div class="col-md-12" style="justify-content: center; display: flex">
              <button
                class="largeButton"
                (click)="ChangePassword($any($event))"
                matButton
                [disabled]="!resetPasswordForm.valid"
              >
                Change Password
              </button>
            </div>
            <div
              class="col-md-12 backtosignin"
              style="
                margin: 5 0 0 0;
                display: flex;
                justify-content: center;
                padding-top: 20px;
              "
            >
            <div><mat-icon class="back-arrow">arrow_back</mat-icon></div>
            <span>Back to </span>
            <a
              routerLink="/login"
              queryParamsHandling="preserve"
            >
              <u>Sign In</u></a
            >
            </div>
          </div>
        </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        <kendo-tilelayout-item class="divider" [col]="21" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: transparent !important;;">
            <kendo-tilelayout-item-body>
      
            </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
      </kendo-tilelayout>
    </div>


    
    </div>

    