.dvs-form-control{
    padding: 2% 2% 2% 0;
    .floatingLabel{
        width: 100%;
        color: #758591;
    }
.textColor{
    color : black
}
::ng-deep svg{
    color: blue;
    width: 60px !important;
    height: 60px !important;
}
}
