<div class="dvs-form-control">
  <kendo-formfield showHints="always" showErrors="initial">
    <kendo-floatinglabel [text]="PlaceHolder" class="floatingLabel k-form">
      <kendo-textbox
        *ngIf="Type === 'text'"
        class="inputtext-large"
        [id]="InputId"
        [formControl]="control"
        fillMode="flat"
        size="large"
        rounded="large"
        showErrors="initial"
        showSuccessIcon="initial"
        showErrorIcon="initial"
        [class]="'textColor'"
      ></kendo-textbox>
      <kendo-textarea
        *ngIf="Type === 'area'"
        [rows]="3"
        resizable="vertical"
        [formControl]="control"
        size="large"
        rounded="large"
        showErrors="initial"
      ></kendo-textarea>
     
      <kendo-textbox
        #textbox
        *ngIf="Type === 'password'"
        [formControl]="control"
        fillMode="flat"
        size="large"
        rounded="large"
        showErrors="initial"
        [class]="'textColor'"
        appTooltip
        [TooltipContent] = TooltipContent
      >
        <ng-template kendoTextBoxSuffixTemplate>
          <button
            kendoButton
            look="clear"
            [svgIcon]="eyeIcon"
            class="svgIcon"
            (click)="toggleVisibility()"
          ></button>
        </ng-template>
      </kendo-textbox>
     
    </kendo-floatinglabel>
    <app-validation-errors
      *ngIf="control.touched && control.invalid "
      [control]="control"
    ></app-validation-errors>
  </kendo-formfield>
</div>
