<div
  class="sidenav"
  style="background-color: #eef2f7;width: 6rem;"
  [ngClass]="collapsed ? 'sidenav-collapsed' : ''"
>
  <div style="height: 100%;background-color: #19465F;">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a
          class="sidenav-nav-link"
          [routerLink]="[data.routeLink]"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          [routerLinkActiveOptions]="{ exact: false }"
          queryParamsHandling="preserve"
        >
          <i
            class="sidenav-link-icon"
            *ngIf="!collapsed"
            matTooltip="{{ data.label }}"
            matTooltipPosition="right"
            [class]="data.icon"
          ></i>
          
          <div
            class="sidenav-link-icon"
            *ngIf="collapsed"
            [class]="data.icon"
          ></div>
          <div class="sidenav-link-text" @fadeInOut *ngIf="!collapsed">
            {{ data.label }}
          </div>
        </a>
      </li>
    </ul>
  </div>
    <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
        <div style="width: fit-content" *ngIf="!collapsed">
          <mat-icon style="color: #f5f5f5; font-size: 30px">skip_next</mat-icon>
          <img
          src="../../../assets/icons/InboxHide.svg"
          style="width: 30px; height: 30px"
          alt="Custom Icon"
        />
        </div>
         <div style="width: fit-content" *ngIf="collapsed"> 
          <mat-icon
            style="color: #f5f5f5; font-size: 30px; "
            >menu</mat-icon
          > 
          <img
          src="../../../assets/icons/InboxHide.svg"
          style="width: 30px; height: 30px"
          alt="Custom Icon"
        />
       </div>
   
       </button> 
   </div>
</div>
