.sidenav {
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
    top: 0;
    width: 6vw;
    height: 100%;
    //border-radius: 10px;
    background-color: #EEF2F7;
    //   height: 645px;
    box-shadow: 0;
    .logo-container {
      display: flex;
      align-items: center;
      //padding: 0.938rem 0 0 0.9rem;
      width: 100%;
      height: 10%;
      justify-content: center;
      background-color: #19465F;
      .logo {
        background: transparent;
        text-align: center;
        //width: 1rem;
        //min-width: 1rem;
        border-radius: 0.313rem;
        padding: 0rem;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
        border: none;
      }
  
      .logo-text {
        margin-left: 1.5rem;
        font-size: 18px;
        color: #fff;
      }
  
      .btn-close {
        margin-left: auto;
        cursor: pointer;
        width: 3rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;
  
        .fa-times {
          color: #fff;
          font-size: 22px;
        }
      }
    }
  }
  
  .sidenav-collapsed {
    width: 4rem;
  }
  
  .sidenav-nav {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
    //padding-top: 2rem;
  
    .sidenav-nav-item {
      width: 100%;
      margin-bottom: 20%;
  
      .sidenav-nav-link {    
        height: 100% !important;
        display: inherit;
        align-items: center;    
        padding-top: 12% !important;
        padding-bottom: 14% !important;
        // color: #F5F5F5;
        text-decoration: none;
        //border-radius: 0.625rem;
        transition: all 0.3s ease;
        padding: 0;
        .sidenav-link-icon {
          font-size: 16px;
          width: 100%;
          //min-width: 2rem;
          //margin: 0 0.5rem;
          text-align: center;
          // color: #f5f5f5;
          color:#ffffff91;
          font-weight: 500;
        }
  
        .sidenav-link-text {
          font-size: 14px;
          margin-left: 0rem;
          // color: #f5f5f5;
          text-align: center;
          width: 100%;
          color:#ffffff91;
          line-height: 0.8;
        }
        
      }
    }
  
    // .sidenav-nav-item:hover {
    //   .sidenav-nav-link {
    //     background-color: #d9d8d6;
    //     color: black!important;
    //   }
    // }
  }

  
  .active {
    background-color: #0084A4;
    // color:#ffffff!important;
    .sidenav-link-icon,
    .sidenav-link-text {
      color: #F5F5F5!important;
    }
  }
  
  .mat-card {
    height: 3.5rem;
    margin-right: -0.7rem !important;
    margin-left: 0rem !important;
  }
  
  
  ::ng-deep mat-tooltip-component{
    & .mat-tooltip{
      background-color: #f5f5f5 !important;
      color: #0c2340 !important;
      font-size: 12px!important;
      margin-left: 20px;
    }
  
  }
  
  .sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  color:#F5F5F5!important;
  }
  .sidenav-nav .sidenav-nav-item{
    color:#F5F5F5!important;
  }

  // .inactive-link {
  //   pointer-events: none; 
  //   color: gray; 
  // }

  .close-container{
    display: flex;
    align-items: center;
    width: 150%;
    color:white;
    background-color: transparent;
    padding: 22%;
    button{
      color: transparent;
      background: transparent;
      border: none;
    }
  }