<div class="agency_container">
    <kendo-card style="width:100%">
        <kendo-card-header class="coverages">
        <h3 class="coverages_header">
            Coverages
        </h3>
    </kendo-card-header>
    <kendo-card-body style="padding: 0;">
    <div class="lossesdetails">

        <table style="width:100%">
            <tr *ngFor="let item of coveragesdata">
                <td id="coveragename"><b>{{ item.coveragename }}</b></td>
                <td id="coveragevalue">{{ item.coveragevalue }}</td>
                <td id="businessincome">{{ item.businessincome }}</td>
            </tr>
            <tr></tr>
            <tr></tr>
        </table>
    </div>
    </kendo-card-body>
    </kendo-card>
</div>