<div class="agency_container slide-effect-x1">
  <kendo-card style="width: 100%; margin: 0">
    <kendo-card-header class="coverages">
      <h3 class="coverages_header">
        {{ header }}
      </h3>
    </kendo-card-header>
    <kendo-card-body style="padding: 0">
      <div class="lossesdetails">
        <kendo-grid
          [height]="200"
          id="my-grid"
          [hideHeader]="true"
          [kendoGridBinding]="coverages"
          [pageable]="true"
          [pageSize]="pageSize"
          [skip]="skip"
          [style]="'width:100%'"
        >
          <kendo-grid-column field="CoverageName">
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
              let-value="value"
            >
              <div class="whole-cell">
                <b>{{ dataItem.CoverageName }}</b>
              </div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="CoverageValue">
            <ng-template
              kendoGridCellTemplate
              let-dataItem
              let-rowIndex="rowIndex"
              let-value="value"
            >
              <div class="cov-val">
                {{ dataItem.CoverageValue | formatAmount:prefix:suffix}}
              </div>
            </ng-template>
          </kendo-grid-column>

          <ng-template kendoPagerTemplate
          let-totalPages="totalPages"
          let-currentPage="currentPage"
          >
            <kendo-grid-spacer></kendo-grid-spacer>
            <span class="prev-next-buttons" (click)="goToPreviousPage()"
              >Prev</span
            >
            <span class="prev-next-buttons" (click)="goToNextPage()">Next</span>
          </ng-template>
        </kendo-grid>
      </div>
    </kendo-card-body>
  </kendo-card>
</div>
