<div class="summary-container" style="background-color: #EEF2F7;">
  <kendo-tilelayout
  [columns]="3"
  [resizable]="true"
  [reorderable]="true"
  class="home-body"
  [rowHeight]="285"
  [style]="'padding: 0 0.5% 0 0.5% !important; height: 100%; overflow:auto;'"
>
  <kendo-tilelayout-item *ngFor="let item of custComponents" [col]="item.ColumnId" [colSpan]="item.ColumnSpan" [rowSpan]="item.RowSpan" style="border: 2px !important; border-radius:10 !important; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >

    <!-- <kendo-tilelayout-item-header style="height: 3em;" [style.background-color]="item.HeaderColor">
      <h5 class="header-text" style="font-size: 16px" >
        <div style="text-align: center;border: 2">
          <div class="widgetHeader" style="display: flex;align-items: center;margin-left: 2%;">
            
            <div style="width: 90%; text-align:left; padding: 0; color: #005DAA !important;font-weight: 500;" [style.color]="item.FontColor">
            
            {{ item.Header }}
          </div>
          
          <div style="width: 10%; text-align:right; margin-top:0.5%; margin-right: 2%;">
            <button *ngIf="item.Fullscreen"
            mat-icon-button
            class="max-button"
            (click)="
              toggleFullScreen();
            "
          >
            <mat-icon class="max-icon" *ngIf="!isFullScreen"
              >fullscreen</mat-icon
            >
            <mat-icon class="max-icon" *ngIf="isFullScreen"
              >fullscreen_exit</mat-icon
            >
          </button>
          </div>
          </div>
        </div>
      </h5>
    </kendo-tilelayout-item-header> -->
    <kendo-tilelayout-item-body style="padding: 0">
      <ng-template 
      *ngComponentOutlet="
        item.Widget;
        injector: createInjector(item.WidgetName, item.WidgetType)
      "
    ></ng-template>

    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
  </div>
