.summary-container {
  height: 100%;

  .custom-placeholder {
    padding: 0rem 0rem 0.5rem 0rem !important;
    margin: 0rem 0rem 0em 0rem !important;
  }

  .customwidth {
    width: 100% !important;
  }
}
