<div class="dashboardwidget-container" style="background-color: #EEF2F7;">
    <div class="row customRow">
      <div *ngFor="let item of custComponents" class="{{ item.ColWidth }}">
        <div class="custom-placeholder customwidth">
          <mat-card class="mat-elevation-z8"
            [ngClass]="getBodyClassBox(item.BoxClass)"
            maximize
            #maximize="maximize"
            style="padding-top:0"
          >
            <div style="text-align: center; max-height: 5vh;  border: 2">
              <div class="widgetHeader" style="display: flex;align-items: center;margin-left: 2%;">
              <div style="width: 10%; text-align:right; margin-top:0%; margin-right: 2%;">
                <button *ngIf="item.Fullscreen"
                mat-icon-button
                class="max-button"
                (click)="
                  toggleFullScreen(); maximize.toggleFullScreen(isFullScreen)
                "
              >
                <mat-icon class="max-icon" *ngIf="!isFullScreen"
                  >fullscreen</mat-icon
                >
                <mat-icon class="max-icon" *ngIf="isFullScreen"
                  >fullscreen_exit</mat-icon
                >
              </button>
              </div>
              </div>
            </div>
            <!-- <mat-divider></mat-divider> -->
            <div>
            <ng-template 
              *ngComponentOutlet="
                item.Widget;
                injector: createInjector(item.WidgetName)
              "
            ></ng-template>
          </div>
            <!-- <ng-container *ngComponentOutlet="item.widget;" ></ng-container> -->
          </mat-card>
        </div>
      </div>
    </div>
  </div>
