<div class="summary-container" style="background-color: #eef2f7">
  <div style="text-align: end; padding: 6px 6px 6px 0px">
    <button
      type="button"
      style="
        border: none;
        color: white;
        background-color: #00a6cf;
        border-radius: 10px;
        
      "
      (click)="download()"
    >
      <kendo-svg-icon
        [icon]="downloadIcon"
        style="color: white"
        size="xlarge"
      ></kendo-svg-icon>
      Submission 360
    </button>
  </div>
  <div >
    <kendo-tilelayout
      [columns]="3"
      [resizable]="true"
      [reorderable]="true"
      class="home-body"
      [rowHeight]="255"
      [style]="
        'padding: 0 0.5% 0 0.5% !important; height: 100%; overflow:auto;'
      "
    >
      <kendo-tilelayout-item
        *ngFor="let item of summaryComponents"
        [col]="item.ColumnId"
        [colSpan]="item.ColumnSpan"
        [rowSpan]="item.RowSpan"
        style="
          border: 2px !important;
          border-radius: 10 !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
            0 4px 12px 0 rgba(0, 0, 0, 0.1);
        "
      >
        <kendo-tilelayout-item-body style="padding: 0">
          <ng-template
            *ngComponentOutlet="
              item.Widget;
              injector: createInjector(item.WidgetName, item.WidgetType)
            "
          ></ng-template>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </div>
  <div style="margin-top: 1%;">
    <div style="width: 99%;
    height: 2rem;
    margin: 0.5%;
    border-radius: 5px;background: #97EAE6;text-align: start;">
    <span><h3 style="margin: 0; padding: 0.1% 0 0 1%;">Property</h3></span>
    </div>
    <kendo-tilelayout
      [columns]="3"
      [resizable]="true"
      [reorderable]="true"
      class="home-body"
      [rowHeight]="255"
      [style]="
        'padding: 0 0.5% 0 0.5% !important; height: 100%; overflow:auto;'
      "
    >
      <kendo-tilelayout-item
        *ngFor="let item of propertyComponents"
        [col]="item.ColumnId"
        [colSpan]="item.ColumnSpan"
        [rowSpan]="item.RowSpan"
        style="
          border: 2px !important;
          border-radius: 10 !important;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
            0 4px 12px 0 rgba(0, 0, 0, 0.1);
        "
      >
        <kendo-tilelayout-item-body style="padding: 0">
          <ng-template
            *ngComponentOutlet="
              item.Widget;
              injector: createInjector(item.WidgetName, item.WidgetType)
            "
          ></ng-template>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </div>
</div>
