  <div class="resetPasswordContainer">
  
    <div class="bluetopbar">
      <kendo-tilelayout
        [columns]="30"
        [rowHeight]="'100%'"
        [resizable]="false"
        [reorderable]="false"
        class="top-bar-header"
        [gap]="05"
        
      >
      
        <kendo-tilelayout-item class="divider" [col]="1" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #d6e5f1;">
          <kendo-tilelayout-item-body>
            
          </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        <kendo-tilelayout-item class="divider" [col]="11" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #fff;margin-top: 25%;">
  
          <kendo-tilelayout-item-body>
            <div class="row">
                <div class="col-md-12">
                  <h2 class="header-black">
                      <h2><b>Set New Password</b></h2>
                  </h2>
                  <h2
                    style="
                      width: 90%;
                      text-align: center;
                      padding-left: 10%;
                      margin-bottom: 10%;
                    "
                    class="inputtext-large"
                  >
                    <p style="line-height: 1;">
                      The new password must be different to previously used passwords.
                    </p>
                  </h2>
                  <div class="resetfrm">
                    <form
                      [formGroup]="resetPasswordForm"
                      style="margin-bottom: 0; width: 78%"
                     
                    >
                      <mat-form-field class="fillWidth inputtext-large Loginborder">
                        <input
                          type="password"
                          matInput
                          placeholder="New Password"
                          tooltip-class="tooltipCss"
                          class="inputtext-large"
                          formControlName="password"
                          [type]="hide ? 'password' : 'text'"
                          (keyup)="resetError('password')"
                          (paste)="(false)"
                        />
                        <mat-icon
                            matSuffix
                            class="watermarkeye"
                            (click)="hide = !hide"
                            >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                          >
                      </mat-form-field>
                      <mat-form-field
                        class="fillWidth inputtext-large Loginborder"
                        style="margin-bottom: 10%"
                      >
                        <input
                          type="password"
                          matInput
                          placeholder="Confirm New Password"
                          tooltip-class="tooltipCss"
                          class="inputtext-large"
                          formControlName="confirmpassword"
                          [type]="hide ? 'password' : 'text'"
                          (keyup)="resetError('confirmpassword')"
                          (paste)="(false)"
                        />
                        <mat-icon
                            matSuffix
                            class="watermarkeye"
                            (click)="hide = !hide"
                            >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
                          >
                      </mat-form-field>
                    </form>
                  </div>
                  <div
                    class="row"
                    *ngIf="!isSuccess"
                    style="margin-top: -8%; margin-bottom: 2%"
                  >
                    <div
                      class="col-md-12"
                      style="color: red; padding-left: 0px;text-align: center;"
                      *ngFor="let err of this.validationErrors"
                    >
                      {{ err.Error }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 size register-btn">
                      <button
                        class="largeButton lgnbtn_1"
                        mat-raised-button
                      >Reset Password
                      </button>
                    </div>
                    <div
                      class="col-md-12 bck_to_lgn backtosignin"
                      style="
                        margin: 5 0 0 0;
                        display: flex;
                        justify-content: center;
                        padding-top: 10%;
                      "
                    >
                    <div><mat-icon class="back-arrow">arrow_back</mat-icon></div>
                    <span>Back to </span>
                    <a
                      routerLink="/login"
                      queryParamsHandling="preserve"
                    >
                      <u>Sign In</u></a
                    >
                    </div>
                  </div>
                  
                </div>
              </div>
        </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        <kendo-tilelayout-item class="divider" [col]="21" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #d6e5f1;">
            <kendo-tilelayout-item-body>
      
            </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
      </kendo-tilelayout>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  