
.inbox-detail-container{
    height: 100%;
    overflow: hidden;
    ::ng-deep .k-card {
        border-radius: 0!important;
    }
    .inbox-header{
        height: 100%;
        padding: 0 !important;
        margin: 0 !important;
    }
}