.losses_container {
  .losses_header {
    padding: 1%;
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }

  .losses {
    height: 61px;
    background: #00b6ad;
    opacity: 1;
    // border-top-left-radius: 10px;
    // border-top-right-radius: 10px;
    // box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05000000074505806);
    // overflow: hidden;
  }

  .totalloss {
    justify-content: center;
    text-align: center;
  }

  .total_losses1 {
    text-align: center;
    padding: 2% 1% 2% 1%;
  }

  .total_losses2 {
    text-align: center;
    font-size: 32px;
  }

  th,
  td {
    border: 2px solid #eeeeee;
    text-align: center;
  }

  th {
    //padding: 3%;
    height: 3em;
  }

  td {
    //padding: 8.3%;
    padding: 5%;
  }

  .lossesdetails {
    padding-top: 2.8%;
  }

  .maintable {
    border-left: 0px solid white !important;
    border-right: 0px solid white !important;
  }

  .loss_years {
    display: flex;
    justify-content: center;
  }

  .totallosses_year {
    padding-left: 2%;
  }

  .totallosses_year select {
    word-wrap: normal;
    border-radius: 17px sild black;
    border-radius: 5px;
    font-size: 12px;
    padding: 2%;
    padding: 3% 6% 6% 6%;
  }

  select {
    border: 1px solid #009cc1;
  }

  .total-values {
    font-size: 18px;
    color: #009cc1;
  }
}


