    <div class="agency_container">
        <kendo-card style="width:100%;margin: 0;">
            <kendo-card-header class="losses">
            <div class="losses_header">
                Losses
        </div>
        </kendo-card-header>
        <kendo-card-body style="padding: 0;">
        <div class="agency_details1">
            <div class="row">
                <div class="totalloss">
                    <div class="col-md-12">
                        <div class="total_losses1" id="totalincurred"><b> {{totalincurred}} </b></div>
                        <div class="loss_years">
                            <div class="total-values light-green-color" id="totallosses">
                              <b> {{totallosses}} </b>
                            </div>
                            <div class="totallosses_year">
                                <select name="years" id="years" class="white-color dropdownselector">
                                    <option value="1" id="oneyear">1yrs</option>
                                    <option value="2" id="twoyear">2yrs</option>
                                    <option value="3" id="threeyear">3yrs</option>
                                    <option value="4" id="fouryear">4yrs</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="col-md-12">
                        <div class="total_losses2 light-green-color" id="totalincurredvalue"> {{totalincurredvalue}} </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lossesdetails">
            <table style="width:100%">
                <tr>
                    <th id="numberofclaims"># of Claims</th>
                    <th id="numberofopenclaims"># of Open Claims</th>
                    <th id="highestclaim">Highest Claim</th>
                </tr>
                <tr *ngFor="let item of lossesdata">
                    <td id="numberofclaimsvalue">{{ item.numberofclaims }}</td>
                    <td id="numberofopenclaimsvalue">{{ item.numberofopenclaims }}</td>
                    <td id="highestclaimvalue">{{ item.highestclaim }}</td>
                </tr>
            </table>
        </div>
        </kendo-card-body>
        </kendo-card>
    </div>