    <div class="losses_container slide-effect-x1">
        <kendo-card style="width:100%;margin: 0;">
            <kendo-card-header class="losses">
            <div class="losses_header">
                {{header}}
        </div>
        </kendo-card-header>
        <kendo-card-body style="padding: 0;">
        <div class="agency_details1">
            <div class="row">
                <div class="totalloss">
                    <div class="col-md-12">
                        <div class="total_losses1" id="totalincurred"><b> 
                            Total Incurred 
                        </b></div>
                        <div class="loss_years">
                            <div class="total-values light-green-color" id="totallosses">
                              <b> {{totallosses | formatAmount :"$"}} </b>
                            </div>
                            <div class="totallosses_year">
                                <kendo-dropdownlist 
                                [data]="years"
                                defaultItem="All"
                                (selectionChange)="onYearChange($event)"
                            >
                            </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lossesdetails">
            <table style="width:100%">
                <tr>
                    <th ># of Claims</th>
                    <th ># of Open Claims</th>
                    <th>Highest Claim</th>
                </tr>
                <tr *ngFor="let item of lossesdata">
                    <td >{{ item.numberofclaims | formatAmount}}</td>
                    <td >{{ item.numberofopenclaims | formatAmount}}</td>
                    <td >{{ item.highestclaim | formatAmount:'$'}}</td>
                </tr>
            </table>
        </div>
        </kendo-card-body>
        </kendo-card>
    </div>