.exposure-summary-container {
    width: 100%;
    overflow: auto;
    padding-top : 1em;
    .header-text,
    .card-container {
      text-align: center;
    }
    .custom-placeholder {
      padding: 0rem 0rem 1rem 0rem !important;
      margin: 0rem 0rem 0em 0rem !important;
    }
    .customwidth {
      width: 100% !important;
    }
    ::ng-deep .k-card{
      border-radius: 10px !important;
    };
    .primary{
      background: "#009CC1";
    }
  //   .k-tilelayout {
  //     background-color: #F5F5F5;
  // }
  }
  
  // ::ng-deep .k-tilelayout {
  //   background-color: #f5f5f5!important;
  // }
  
  // ::ng-deep .k-card {
  //   background-color: #f5f5f5!important;
  // }
  
  ::ng-deep .k-tilelayout {
    background-color: #EEF2F7;
  }