<div class="application-wrapper">
    <kendo-tabstrip (tabSelect)="onTabSelect($event)" style="grid-auto-rows: auto;position: relative;">
      <kendo-tabstrip-tab title="Account Information" [selected]="true" style="grid-auto-rows: auto;">
        <ng-template kendoTabContent>
          <div class="content">
            <app-account-information></app-account-information>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <!-- <kendo-tabstrip-tab title="Broker Details">
        <ng-template kendoTabContent>
          <div class="content">
           <app-account-information></app-account-information>
          </div>
        </ng-template>
      </kendo-tabstrip-tab> -->
      <kendo-tabstrip-tab title="Exposure Property">
        <ng-template kendoTabContent>
          <div class="content exposer_property">
            <generic-table #property [columns]="columns1" [data]="exposureDetails"></generic-table> 
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab title="Claim Details">
        <ng-template kendoTabContent>
          <div class="content">
            <generic-table #claimDetails [columns]="columns2" [data]="tableData2"></generic-table> 
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </div>

