 <div class="risk_clearance fade-effect">
<kendo-card style="width:100%;margin: 0;">
    <kendo-card-header class="risk">
        <h3 class="k-card-title risk_header">Risk Clearance</h3>
    </kendo-card-header>
    <kendo-card-body class="risk_section">
        <div class="risk-details">
            <div class="row">
                <div class="riskclearance_1">
                <div class="risk_value risk_value_1"><b>OFAC Check</b></div>
                <div class="risk_value risk_value_2">{{ riskData.ofaccheckvalue }}</div>
                <mat-icon class="checkbox1"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                    </div>
                    <div class="riskclearance_1">
                <div class="risk_value risk_value_3"><b>SIC</b></div>
                <div class="risk_value risk_value_4">{{ riskData.sicvalue }}</div>
                <mat-icon class="checkbox2"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                    </div>

                    <div class="riskclearance_1">
                <div class="risk_value risk_value_5"><b>States</b></div>
                <div class="risk_value risk_value_6">{{ riskData.statesvalue }}</div>
                <mat-icon class="checkbox3"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                    </div>

                    <div class="riskclearance_1">
                <div class="risk_value risk_value_7"></div>
                <div class="risk_value risk_value_8">{{ riskData.statesvalue1 }}</div>
                <mat-icon class="checkbox4"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                </div>

                <div class="riskclearance_1">
                <div class="risk_value risk_value_9"></div>
                <div class="risk_value risk_value_10">{{ riskData.statesvalue2 }}</div>
                <mat-icon class="checkbox5"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                </div>

                <div class="riskclearance_1">
                <div class="risk_value risk_value_11"><b>TIV</b></div>
                <div class="risk_value risk_value_12">{{ riskData.tivvalue }}</div>
                <mat-icon class="checkbox6"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                </div>

                <div class="riskclearance_1">
                <div class="risk_value risk_value_13"><b>Large Loss</b></div>
                <div class="risk_value risk_value_14">{{riskData.largeloss}}</div>
                <mat-icon class="checkbox7"><span class="material-icons-outlined">
                    check_box
                    </span></mat-icon>
                </div>
            </div>
        </div>
    </kendo-card-body>
</kendo-card>
</div>