//$primary-color: #005daa;
$primary-color: #009CC1;
$secondary-color: #758591;
$primary-black-color: black;
$primary-background-color: #EEF2F7;
$secondary-orange-color: #F99D20;
$secondary-lightblue-color: #00A6CF;

::ng-deep .green-color {
  color: #00a988;
}
::ng-deep .orange-color{
  color: #F99D20!important;
}
::ng-deep .primary-background{
  background-color: $primary-background-color !important;
}

::ng-deep .light-blue-color{
  color: $secondary-lightblue-color;
}

::ng-deep .small-font{
  font-size: 12px !important;
}
::ng-deep .medium-font{
  font-size: 14px !important;
}
::ng-deep .large-font{
  font-size: 16px !important;
}
// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
//   color: #758591 !important;
// }
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #758591 !important;
}
::ng-deep .customDiv {
  background-color: $primary-color !important;
  // height: 60px;
  // margin-top: 12px;
}
::ng-deep .no-data-found{
  text-align: center;
  width: 100%;
  height: 85%;
  padding-top: 20%;
}
::ng-deep .margin-padding-zero{
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep .header-black {
  font-size: 20px !important;
  font-weight: bold;
  color: $primary-black-color;
}
::ng-deep .header-primary {
  color: $primary-color;
}
::ng-deep .subheader-primary-large {
  font-size: 16px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-primary {
  font-size: 12px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-primary-medium {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-secondary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .subheader-secondary-medium {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .subheader-secondary-large {
  font-size: 16px !important;
  color: $secondary-color !important;
}
::ng-deep .watermarkeye {
  font-size: 20px !important;
  color: $secondary-color !important;
}
::ng-deep .inputtext-large {
  font-size: 16px !important;
  color:#758591;
}
::ng-deep .inputtext-small {
  font-size: 14px !important;
  color:#758591;
}
::ng-deep .inputtext-extrasmall {
  font-size: 12px !important;
}
::ng-deep .message_area span{
color: #758591!important;
}
::ng-deep .textcolor {
  color: $secondary-color !important;
}
::ng-deep .textprimary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .text-secondary-large {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .textprimary-base {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .textprimary-extra-large {
  font-size: 20px !important;
  color: $primary-color !important;
}
::ng-deep .textprimary-black {
  font-size: 14px !important;
  color: $primary-black-color !important;
}
::ng-deep .textsecondary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .link-primary {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .link-secondary {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .link-secondary_1 {
  font-size: 14px !important;
  color: $primary-black-color !important;
}
::ng-deep .back-arrow {
  font-size: 20px !important;
  color: $secondary-color !important;
}
::ng-deep .mat-calendar-body-label{
  content-visibility: hidden;
}
::ng-deep .mat-select-value {
  color: #000000;
}
::ng-deep .mat-paginator-icon {
  color: #000000;
}
::ng-deep .largeButton {
  background: $primary-color !important;
  background-color: $primary-color !important;
  color: white;
  font-size: 14px;
  //font-weight: bolder;
  height: 36px;
  align-items: center;
  width: 20em;
  border: 1px solid $primary-color;
  border-radius: 10px;
}
::ng-deep .mediumButton {
  background: $primary-color !important;
  background-color: $primary-color !important;
  color: white !important;
  font-size: 14px;
  //font-weight: bolder;
  height: 28px;
  align-items: center;
  width: 9em;
  border: 1px solid $primary-color;
  border-radius: 10px;
}
::ng-deep .body-trimmed {
  width: calc(90%) !important;
  margin-left: 7.2rem;
}
::ng-deep .body-md-screen {
  width: 100% !important;
  margin-left: 0rem;
}
::ng-deep .addbenefit_options {
  font-size: 12px !important;
  color:#758591;
  font-family: "Nunito Sans" !important;
}

::ng-deep .mat-calendar{
  font-family: "Nunito Sans" !important;
}


::ng-deep .dashboardwidget-container {
  .widgetHeader {
    max-width: 100%;
    color: $primary-color;
    .bold {
      font-size: 12px;
    }
  }
}
::ng-deep .mat-select-arrow {
  color: #758591;
}
.img-div {
  width: auto !important;
  height: 100% !important;
  margin-left: 3px;
  margin-right: 3px;
}
::ng-deep .logoDiv {
  visibility: visible;
}

::ng-deep .icon {
  background-color: $primary-color !important;
  border-radius: 5px;
  z-index: 999;
}

::ng-deep .mat-card-menu {
  width: 170px;
  background-color: $primary-color !important;
}
::ng-deep .sidenav-container {
  height: 100%;
  width: 120px;
  background: $primary-color !important;
  background-color: $primary-color !important;
}

::ng-deep .sidenav {
  width: 170px;
  background-color: $primary-color !important;
}

::ng-deep .loginpage_1 {
  color: #758591 !important;
}
::ng-deep .Loginborder {
  color: #d9d8d6 !important;
}
::ng-deep .logincontact {
  color: $primary-color !important;
}
::ng-deep .loginregister {
  color: $primary-color !important;
}
::ng-deep .inputlogincolor {
  color: #0c2340 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}
::ng-deep .mat-checkbox-frame {
  border-color: #758591;
}
::ng-deep .contact_signin u{
color: #005daa;
}
::ng-deep .dashboard-header {
  .iconColor {
    color: $primary-color !important;
  }
  .addComponentColor {
    background-color: $primary-color !important;
    color: white !important;
  }
}
::ng-deep ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  overflow-x: scroll;
  overflow-y: scroll;
  background: #d9d8d6;
  box-shadow: inset 0 0 4px #d9d8d6;
}

::ng-deep ::-webkit-scrollbar-thumb {
  background: $primary-color !important;
  border-radius: 100px;
  width: 6px !important;
}
::ng-deep .noContentHeader {
  .wrapperDiv1 {
    .wrapperDiv {
      .customDiv {
        background-color: $primary-color !important;
      }
      .customDiv1 {
        background-color: $primary-color !important;
      }
    }
  }
}
// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
//   color: $secondary-color !important;
// }
// ::ng-deep
//   .mat-form-field-appearance-outline.mat-focused
//   .mat-form-field-outline-thick {
//   color: $primary-color !important;
// }
::ng-deep .mat-table-all {
  ::ng-deep .mat-header-cell {
    font-size: 14px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: $primary-color !important;
    ::ng-deep .mat-sort-header-container {
      justify-content: center !important;
    }
  }
  ::ng-deep .scroll {
    width: 40px;
    height: 400px;
    overflow: scroll;
  }
  ::ng-deep tr.mat-header-row {
    height: 35px !important;
  }
 
  ::ng-deep .mat-paginator {
    background-color: transparent;
    color: black;
    align-items: center;
    font-size: 14px !important;
    max-height: 2.5rem;
    height: 25px !important;
    .mat-paginator-outer-container {
      max-height: 3rem;
    }
    .mat-select-value{
      font-size: 14px !important;
    }
  }
  ::ng-deep .mat-paginator-page-size {
    align-items: center;
    .mat-form-field-infix {
      margin-top: -12px !important;
    }
  }
  ::ng-deep .mat-cell {
    color: #000000;
    font-size: 12px;
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
    border: 1px solid #d9d6d8;
    a {
      color: #00a6cf;
    }
  }
  .mat-paginator-page-size-select{
    font-size: 14px;
  }
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-stem {
      color: white;
      font-size: 20px;
    }
    .mat-sort-header-indicator {
      color: white;
      font-size: 20px;
    }
  }

  ::ng-deep .mat-menu-panel {
    background: #EEF2F7!important;
}
::ng-deep .mat-option{
  font-family: "Nunito Sans" !important;
}
 
  ::ng-deep th.mat-header-cell:first-of-type,
  ::ng-deep td.mat-cell:first-of-type,
  ::ng-deep td.mat-footer-cell:first-of-type {
    padding: 0;
  }
  ::ng-deep th.mat-header-cell:last-of-type,
  ::ng-deep td.mat-cell:last-of-type,
  ::ng-deep td.mat-footer-cell:last-of-type {
    padding: 0;
  }
}

::ng-deep .slide-effect-y1{
  animation: slideInAnimationY ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  @keyframes slideInAnimationY {
    0% {
      // opacity: 0;
      // height: 0%;
      transform: translateY(-100%);
    }
    100% {
      // opacity: 1;
      // height: 100%;
      transform: translateY(0%);
    }
  }
}
::ng-deep .slide-effect-x1{
  animation: slideInAnimationX ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  @keyframes slideInAnimationX {
    0% {
      // opacity: 0;
      // height: 0%;
      transform: translateX(-100%);
    }
    100% {
      // opacity: 1;
      // height: 100%;
      transform: translateX(0%);
    }
  }
}
@media screen and (max-width: 912px) {
  //   .footer_text .Powered_text .label_text{
  //     position: absolute!important;
  //     right: 90px!important;
  //     margin-top: -42px!important;
  // }
  footer {
    visibility: hidden;
  }
}


::ng-deep .loader{
  z-index: 1!important;
  }

  ::ng-deep .home-header
  {
      padding: 0 !important;
      border-width: 0px !important;
  }
  ::ng-deep .home-body
  {
      padding-bottom : 0 !important;
      //padding-top : 0 !important;
  }
  ::ng-deep .home-separator{
      padding: 0 !important;
      border: none !important;
      // background: linear-gradient(180deg, #0084A4, #009CC1)
      background: #009CC1 !important;

  }
  ::ng-deep .home-separator-body{
    padding: 0 !important;
    border: none !important;
    background: #009CC1 !important;
  }
  ::ng-deep .home-menu{
      padding: 0 !important;
      .k-card-body{
          padding-block: 0 !important;
          padding-inline: 0 !important;
          background-color: #EEF2F7;
      }
  }

  ::ng-deep .k-card {
    border: none !important;
    border-radius: 84 !important;
    box-shadow: 0;
  }
  ::ng-deep kendo-tabstrip {
    width: 100%;
  }
  ::ng-deep .content {
    //padding: 30px;
    //display: flex;
    flex-direction: column;
    align-items: center;
  }
  ::ng-deep .k-tabstrip-items-wrapper .k-item {
    color: #009CC1;
  }
  
  
  ::ng-deep .k-tabstrip-items-wrapper .k-item:hover {
    color: #000000!important;
  }
  
  
  ::ng-deep .k-tabstrip-items-wrapper {
    background-color: #fff;
  }
  
  ::ng-deep .k-tabstrip-top > .k-tabstrip-content {
  background-color: #EEF2F7;
  padding: 0;
  }
  
  ::ng-deep .k-tabstrip-items-wrapper {
    background-color: #EEF2F7;
    border-color: 1px solid #fff!important;
  }
  
  ::ng-deep .k-tabstrip-top > .k-tabstrip-items-wrapper {
    border-bottom-width: 0px;
  }
  
  ::ng-deep .k-tabstrip-content, .k-tabstrip > .k-content {
    border-color: #EEF2F7;
  }
  
  
  ::ng-deep .k-tabstrip-items-wrapper .k-item:active::after,
  ::ng-deep .k-tabstrip-items-wrapper .k-item.k-active::after,
  ::ng-deep .k-tabstrip-items-wrapper .k-item.k-selected::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px; 
      background-color: #009CC1; 
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: center;
  }
  
  
  ::ng-deep .k-grid .k-table-th:first-child, .k-grid td:first-child, .k-grid .k-table-td {
    text-align: center!important;
  }