<div class="generic-table">
  <div class="loader" *ngIf="showSpinner">
    <app-loader [showSpinner]="showSpinner"></app-loader>
  </div>
  <kendo-grid
    #generictable
    [kendoGridBinding]="gridView"
    kendoGridSelectBy="id"
    [(selectedKeys)]="mySelection"
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [groupable]="true"
    [reorderable]="true"
    [resizable]="true"
    allowScrolling="true"
    scrollable="scrollable"
    [columnMenu]="{ filter: true }"
    [style.maxHeight.em]="height"
    [style.maxWidth]="'auto'"
    [loading]="loading"
    [selectable]="selectableSettings"
    [style]="'border-radius: 14px;overflow: hidden'"
  >
    <ng-template kendoGridToolbarTemplate>
      <kendo-textbox
        [style.width]="'25%'"
        [style.border.px]="2"
        placeholder="Search in all columns..."
        (valueChange)="onFilter($event)"
      >
        <span class="search-icon">&#128269;</span>
      </kendo-textbox>
      <kendo-grid-spacer></kendo-grid-spacer>
      <div class="kendo-dropdown-div">
      <kendo-dropdownbutton 
      [data]="exportButtons" 
      [rounded]="'large'"
      (itemClick)="exportItemClick($event, generictable)"
      >
        <img
          src="../../../assets/images/download-icon.jpg"
          style="width: 30px; height: 30px"
          alt="Custom Icon"
        />
        <ng-template kendoDropDownButtonItemTemplate let-dataItem>
          <div style="padding-right: 5%; width: 10em !important; display: flex">
            <div>
              <span>{{ dataItem.actionName }}</span>
            </div>
            <div style="padding-left: 5%">
              <img
                [src]="dataItem.icon"
                style="width: 1em; height: 1em"
                alt="Custom Icon"
              />
            </div>
          </div>
        </ng-template>
      </kendo-dropdownbutton>
      </div>
    </ng-template>

    <ng-template ngFor [ngForOf]="columns" let-column>
      <kendo-grid-column
        *ngIf="column.type == 'text'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [editor]="column.editor"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <div
            [class.fixed-height-cell]="!cellExpansionState[rowIndex]"
            [class.expanded-cell]="cellExpansionState[rowIndex]"
            (click)="toggleCellExpansion(dataItem)"
            [style]="column.allign == 'left' ? 'text-align : left' : ''"
          >
            {{ dataItem[column.field] }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'link'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <a routerLink="/inbox/detail/summary" [ngStyle]="{ color: 'blue' }">
            {{ dataItem[column.field] }}</a
          >
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'checkbox'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridHeaderTemplate
          let-column
          let-columnIndex="columnIndex"
        >
          <input
            type="checkbox"
            kendoCheckBox
            [checked]="selectedCheckbox === columnIndex"
            (change)="onCheckboxChange(columnIndex)"
          />
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <input
            type="checkbox"
            kendoCheckBox
            [checked]="isSelected(dataItem)"
            (change)="onCheckBoxChange($event, dataItem)"
          />
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'icon'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <span class="k-icon k-i-import"></span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column-group
        *ngIf="column.type == 'alerts'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [ngClass]="{ 'outputicon-class': true }"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <kendo-grid-column
          format="{{ column.format }}"
          [filterable]="column.filterable"
          [sortable]="column.sortable"
          [filter]="column.type"
          [width]="column.width"
          [columnMenu]="column.columnmenu"
          [width]="100"
        >
          <ng-template
            kendoGridHeaderTemplate
            let-column
            let-columnIndex="columnIndex"
          >
            <div>
              <div style="text-align: center">
                {{ column.title }}
              </div>
              <!-- <hr class="solid"> -->
              <div class="image-row">
                <div *ngFor="let data of navData" class="image-container">
                  <img
                    [src]="data.imagePath"
                    style="padding: 0 0.25em 0 0.25em"
                    matTooltip="{{ data.label }}"
                  />
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template
            kendoGridCellTemplate
            let-dataItem
            let-rowIndex="rowIndex"
            let-value="value"
          >
            <div style="display: flex; justify-content: center">
              <span
                *ngIf="dataItem.ExtractionComplete == 2"
                class="k-icon k-i-circle"
                style="color: #6dc942"
              ></span>
              <span
                *ngIf="dataItem.ExtractionComplete == 1"
                class="k-icon k-i-circle"
                style="color: #FFBF00"
              ></span>
              <span
                *ngIf="dataItem.ExtractionComplete == 0"
                class="k-icon k-i-circle"
                style="color: #80808059"
              ></span>

              <span class="k-icon k-i-circle" style="color: #80808059"></span>
              <span class="k-icon k-i-circle" style="color: #80808059"></span>
            </div>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid-column-group>

      <kendo-grid-column
        *ngIf="column.type == 'SubmissionId'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [ngClass]="{ 'outputicon-class': true }"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
          style="width: 100%"
        >
          <ng-container>
            <a
              class="submissionid"
              routerLink="{{ column.redirectUrl }}"
              (click)="ID_Clicked(dataItem)"
              [ngStyle]="{ color: '#009CC1' }"
            >
              {{ dataItem[column.field] }}
              <span class="newtext" *ngIf="dataItem[column.IsNew]">New</span>
            </a>
            <span class="submissionicon"
              ><span class="k-icon k-i-email" (click)="Message_Clicked(dataItem)"></span
            ></span>
          </ng-container>
          
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'Download'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [editor]="column.editor"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <ng-container>
            <a
              color="primary"
              class="excel_download"
              (click)="Download_Click(dataItem)"
            >
              <img
                src="../../../assets/images/execl_downloadimg.png"
                alt="Green Image"
              />
            </a>
          </ng-container>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'dropdown'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [editor]="column.editor"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridEditTemplate
          let-dataItem="dataItem"
          let-formGroup="formGroup"
        >
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'priority'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [editor]="column.editor"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridEditTemplate
          let-dataItem="dataItem"
          let-formGroup="formGroup"
        >
          <kendo-dropdownlist
            *ngIf="dataLoaded"
            [formControl]="formGroup.get(column.field)"
            [data]="dropdownData"
            [(ngModel)]="selectedValue"
            textField="label"
            valueField="value"
          ></kendo-dropdownlist>
        </ng-template>

        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <ng-container *ngIf="isCellEditable(dataItem, column)">
            <kendo-dropdownlist
              [data]="dropdownData"
              [ngModel]="selectedValue"
              (ngModelChange)="onDropdownChange(dataItem, $event)"
              textField="label"
              valueField="value"
            ></kendo-dropdownlist>
          </ng-container>
          <ng-container *ngIf="!isCellEditable(dataItem, column)">
            {{ dataItem[column.field] }}
          </ng-container>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        *ngIf="column.type == 'agencyname'"
        field="{{ column.field }}"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [editor]="column.editor"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <ng-container *ngIf="isCellEditable(dataItem, column)">
            <kendo-textbox [value]="dataItem[column.field]">{{
              dataItem[column.field]
            }}</kendo-textbox>
          </ng-container>
        </ng-template>

        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <div
            [class.fixed-height-cell]="!cellExpansionState[rowIndex]"
            [class.expanded-cell]="cellExpansionState[rowIndex]"
            (click)="toggleCellExpansion(dataItem)"
          >
            {{ dataItem[column.field] }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column-group
      *ngIf="column.type == 'Outputs'"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
      [ngClass]="{ 'outputicon-class': true }"
      [hidden]="!column.default"
      [headerStyle]="{'border-color': '#1FD0C7'}"
    >
      >
      <kendo-grid-column
        field="{{ column.field }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [width]="column.width"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridHeaderTemplate
          let-column
          let-columnIndex="columnIndex"
          style="padding: 0"
          class="outputicon-class"
        >
          <img class="s360PendingimgPath" [src]="s360PendingimgPath" />
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <div style="display: flex; width: 100%; justify-content: center">
            <div style="justify-content: center">
              <ng-container
                *ngIf="dataItem.Status === 'Completed'; else S360Pending"
              >
                <a
                  color="primary"
                  class="excel_download"
                  (click)="Download_Click(dataItem)"
                >
                  <img
                    src="../../../assets/icons/S360ReportCompleted.svg"
                    alt="Green Image"
                  />
                </a>
              </ng-container>
            </div>
            <ng-template #S360Pending>
              <img
                src="../../../assets/icons/S360ReportPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #ConvaiPending>
              <img
                src="../../../assets/icons/ConversationAIPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #InsgihtsPending>
              <img
                src="../../../assets/icons/InsightsPending.svg"
                alt="Gray Image"
              />
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="{{ column.field }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [width]="column.width"
        title=""
        field="subColumn1"
        [ngClass]="{ outputicon_clum: true }"
        [style]="{ 'border-radius': '0' }"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridHeaderTemplate
          let-column
          let-columnIndex="columnIndex"
          style="padding: 0"
          class="outputicon-class"
        >
          <img class="convaiPendingimgPath" [src]="convaiPendingimgPath" />
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <div style="display: flex; width: 100%; justify-content: center">
            <div style="justify-content: center">
              <ng-container
                *ngIf="dataItem.Status === 'Completed'; else ConvaiPending"
              >
                <kendo-button
                  class="copied_icontop"
                  style="
                    background: transparent;
                    border: none;
                    height: 100%;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                  "
                  (click)="Copilot_Click(dataItem)"
                >
                  <img
                    src="../../../assets/icons/ConversationAICompleted.svg"
                    alt="Green Image"
                  />
                </kendo-button>
              </ng-container>
            </div>

            <ng-template #S360Pending>
              <img
                src="../../../assets/icons/S360ReportPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #ConvaiPending>
              <img
                src="../../../assets/icons/ConversationAIPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #InsgihtsPending>
              <img
                src="../../../assets/icons/InsightsPending.svg"
                alt="Gray Image"
              />
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        field="{{ column.field }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [width]="column.width"
        title=""
        field=""
        [ngClass]="{ outputicon_clum: true }"
        [style]="{ 'border-radius': '0' }"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        <ng-template
          kendoGridHeaderTemplate
          let-column
          let-columnIndex="columnIndex"
          style="padding: 0"
          class="outputicon-class"
        >
          <img class="insgihtsPending" [src]="insgihtsPending" />
        </ng-template>
        <ng-template
          kendoGridCellTemplate
          let-dataItem
          let-rowIndex="rowIndex"
          let-value="value"
        >
          <div style="display: flex; width: 57%; justify-content: center">
            <div style="width: 25%; justify-content: center">
              <ng-container
                *ngIf="dataItem.Status === 'Completed'; else InsgihtsPending"
              >
                <a
                  color="primary"
                  class="excel_download"
                  routerLink="{{ column.redirectUrl }}"
                  (click)="ID_Clicked(dataItem)"
                >
                  <img
                    src="../../../assets/icons/InsightsCompleted.svg"
                    alt="Green Image"
                  />
                </a>
              </ng-container>
            </div>
            <ng-template #S360Pending>
              <img
                src="../../../assets/icons/S360ReportPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #ConvaiPending>
              <img
                src="../../../assets/icons/ConversationAIPending.svg"
                alt="Gray Image"
              />
            </ng-template>

            <ng-template #InsgihtsPending>
              <img
                src="../../../assets/icons/InsightsPending.svg"
                alt="Gray Image"
              />
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid-column-group>

      <kendo-grid-column-group
        *ngIf="column.type == 'Attachments'"
        title="{{ column.title }}"
        format="{{ column.format }}"
        [filterable]="column.filterable"
        [sortable]="column.sortable"
        [filter]="column.type"
        [width]="column.width"
        [columnMenu]="column.columnmenu"
        [ngClass]="{ 'outputicon-class': true }"
        [hidden]="!column.default"
        [headerStyle]="{'border-color': '#1FD0C7'}"
      >
        >
        <kendo-grid-column
          field="{{ column.field }}"
          format="{{ column.format }}"
          [filterable]="column.filterable"
          [sortable]="column.sortable"
          [filter]="column.type"
          [width]="column.width"
          [columnMenu]="column.columnmenu"
          [width]="column.width"
          [headerStyle]="{'border-color': '#1FD0C7'}"
          
        >
          <ng-template
            kendoGridHeaderTemplate
            let-column
            let-columnIndex="columnIndex"
            style="padding: 0"
            class="outputicon-class"
           
          >
         Total
          </ng-template>
          <!-- <ng-template
            kendoGridCellTemplate
            let-dataItem
            let-rowIndex="rowIndex"
            let-value="value"
          >
            <div style="display: flex; width: 100%; justify-content: center">
              <div style="justify-content: center">
                <ng-container
                  *ngIf="dataItem.Status === 'Completed'; else S360Pending"
                >
                  <a
                    color="primary"
                    class="excel_download"
                    (click)="Download_Click(dataItem)"
                  >
                    <img
                      src="../../../assets/icons/S360ReportCompleted.svg"
                      alt="Green Image"
                    />
                  </a>
                </ng-container>
              </div>
              <ng-template #S360Pending>
                <img
                  src="../../../assets/icons/S360ReportPending.svg"
                  alt="Gray Image"
                />
              </ng-template>

              <ng-template #ConvaiPending>
                <img
                  src="../../../assets/icons/ConversationAIPending.svg"
                  alt="Gray Image"
                />
              </ng-template>

              <ng-template #InsgihtsPending>
                <img
                  src="../../../assets/icons/InsightsPending.svg"
                  alt="Gray Image"
                />
              </ng-template>
            </div>
          </ng-template> -->
        </kendo-grid-column>
        <kendo-grid-column
          field="{{ column.field }}"
          format="{{ column.format }}"
          [filterable]="column.filterable"
          [sortable]="column.sortable"
          [filter]="column.type"
          [width]="column.width"
          [columnMenu]="column.columnmenu"
          [width]="column.width"
          title=""
          field="subColumn1"
          [ngClass]="{ outputicon_clum: true }"
          [style]="{ 'border-radius': '0' }"
          [headerStyle]="{'border-color': '#1FD0C7'}"
        >
          <ng-template
            kendoGridHeaderTemplate
            let-column
            let-columnIndex="columnIndex"
            style="padding: 0"
            class="outputicon-class"
          >
            Valid
          </ng-template>
          <!-- <ng-template
            kendoGridCellTemplate
            let-dataItem
            let-rowIndex="rowIndex"
            let-value="value"
          >
            <div style="display: flex; width: 100%; justify-content: center">
              <div style="justify-content: center">
                <ng-container
                  *ngIf="dataItem.Status === 'Completed'; else ConvaiPending"
                >
                  <kendo-button
                    class="copied_icontop"
                    style="
                      background: transparent;
                      border: none;
                      height: 100%;
                      width: 100%;
                      padding: 0;
                      margin: 0;
                    "
                    (click)="Copilot_Click(dataItem)"
                  >
                    <img
                      src="../../../assets/icons/ConversationAICompleted.svg"
                      alt="Green Image"
                    />
                  </kendo-button>
                </ng-container>
              </div>

              <ng-template #S360Pending>
                <img
                  src="../../../assets/icons/S360ReportPending.svg"
                  alt="Gray Image"
                />
              </ng-template>

              <ng-template #ConvaiPending>
                <img
                  src="../../../assets/icons/ConversationAIPending.svg"
                  alt="Gray Image"
                />
              </ng-template>

              <ng-template #InsgihtsPending>
                <img
                  src="../../../assets/icons/InsightsPending.svg"
                  alt="Gray Image"
                />
              </ng-template>
            </div>
          </ng-template> -->
        </kendo-grid-column>
      </kendo-grid-column-group>
    </ng-template>
    <ng-template kendoGridLoadingTemplate>
      <div class="k-loading-color"></div>
      <div class="loading-container">
        <kendo-loader type="converging-spinner" size="large"></kendo-loader>
      </div>
    </ng-template>
    <kendo-grid-pdf
      fileName="Submissions.pdf"
      [repeatHeaders]="true"
    ></kendo-grid-pdf>
    <kendo-grid-excel fileName="Submissions.xlsx"></kendo-grid-excel>
  </kendo-grid>
</div>
