.customer-photo {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: 32px 35px;
  background-position: center center;
  vertical-align: middle;
  line-height: 32px;
  box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
}
::ng-deep .k-grid-excel {
  background-color: #009CC1;
  color: white;
}
::ng-deep .k-cell-inner{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
::ng-deep .k-grid-excel:hover{
  background-color: #00B6AD;
  color: white;  
}
.badge-success{
color: green;
}
.badge-failure{
  color: green;
  }
::ng-deep .k-grid-pdf {
  background-color: #009CC1;
  color: white;
}
::ng-deep .k-grid-pdf:hover{
  background-color: #00B6AD;
  color: white;  
}
.customer-name {
  display: inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding-left: 10px;
}

::ng-deep .k-svg-i-sort-desc-small
{
  color: white;
}
::ng-deep .k-svg-i-sort-asc-small
{
  color: white;
}

::ng-deep .k-svg-i-more-vertical
{
  color: white;
}
::ng-deep .k-checkbox{
  border-color: rgb(183, 180, 180) !important;
}

::ng-deep .k-grouping-drop-container
{
  background-color: #fff;
}

::ng-deep  .k-grid-header{
  border-spacing:0px;
  color:#d71646;
}


::ng-deep .k-input-inner{
    width: 70% !important;
    border: 1px;
    background-color: rgb(228, 225, 225);
}

::ng-deep .k-grid .k-grid-header .k-table-th {
  background-color:#00B6AD !important;
  color:white;
  padding: 0.8%;
}
::ng-deep .k-grid .k-grid-header .k-table-th:last-child {
  border-top-right-radius: 10px;
}

::ng-deep .k-grid .k-grid-header .k-table-th:first-child {
  border-top-left-radius: 10px;
}

.red {
  color: #d9534f;
}

.text-bold {
  font-weight: 600;
}

$primary-color: #005daa;
$secondary-color: #758591;
$primary-black-color: black;

$secondary-orange-color: #F99D20;
$secondary-lightblue-color: #00A6CF;

::ng-deep .green-color {
  color: #00a988;
}
::ng-deep .orange-color{
  color: #F99D20!important;
}

::ng-deep .light-blue-color{
  color: $secondary-lightblue-color;
}

::ng-deep .small-font{
  font-size: 12px !important;
}
::ng-deep .medium-font{
  font-size: 14px !important;
}
::ng-deep .large-font{
  font-size: 16px !important;
}
// ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label{
//   color: #758591 !important;
// }
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #758591 !important;
}
::ng-deep .customDiv {
  background-color: $primary-color !important;
  // height: 60px;
  // margin-top: 12px;
}
::ng-deep .no-data-found{
  text-align: center;
  width: 100%;
  height: 85%;
  padding-top: 20%;
}
::ng-deep .margin-padding-zero{
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep .header-black {
  font-size: 20px !important;
  font-weight: bold;
  color: $primary-black-color;
}
::ng-deep .header-primary {
  color: $primary-color;
}
::ng-deep .subheader-primary-large {
  font-size: 16px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-primary {
  font-size: 12px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-primary-medium {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .subheader-secondary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .subheader-secondary-medium {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .subheader-secondary-large {
  font-size: 16px !important;
  color: $secondary-color !important;
}
::ng-deep .watermarkeye {
  font-size: 20px !important;
  color: $secondary-color !important;
}
::ng-deep .inputtext-large {
  font-size: 16px !important;
  color:#758591;
}
::ng-deep .inputtext-small {
  font-size: 14px !important;
  color:#758591;
}
::ng-deep .inputtext-extrasmall {
  font-size: 12px !important;
}
::ng-deep .message_area span{
color: #758591!important;
}
::ng-deep .textcolor {
  color: $secondary-color !important;
}
::ng-deep .textprimary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .text-secondary-large {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .textprimary-base {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .textprimary-extra-large {
  font-size: 20px !important;
  color: $primary-color !important;
}
::ng-deep .textprimary-black {
  font-size: 14px !important;
  color: $primary-black-color !important;
}
::ng-deep .textsecondary {
  font-size: 12px !important;
  color: $secondary-color !important;
}
::ng-deep .link-primary {
  font-size: 14px !important;
  color: $primary-color !important;
}
::ng-deep .link-secondary {
  font-size: 14px !important;
  color: $secondary-color !important;
}
::ng-deep .link-secondary_1 {
  font-size: 14px !important;
  color: $primary-black-color !important;
}
::ng-deep .back-arrow {
  font-size: 20px !important;
  color: $secondary-color !important;
}
::ng-deep .mat-calendar-body-label{
  content-visibility: hidden;
}
::ng-deep .mat-select-value {
  color: #000000;
}
::ng-deep .mat-paginator-icon {
  color: #000000;
}
::ng-deep .largeButton {
  background: $primary-color !important;
  background-color: $primary-color !important;
  color: white;
  font-size: 14px;
  //font-weight: bolder;
  height: 36px;
  align-items: center;
  width: 20em;
  border: 1px solid $primary-color;
  border-radius: 10px;
}
::ng-deep .mediumButton {
  background: $primary-color !important;
  background-color: $primary-color !important;
  color: white !important;
  font-size: 14px;
  //font-weight: bolder;
  height: 28px;
  align-items: center;
  width: 9em;
  border: 1px solid $primary-color;
  border-radius: 10px;
}
::ng-deep .body-trimmed {
  width: calc(90%) !important;
  margin-left: 7.2rem;
}
::ng-deep .body-md-screen {
  width: 100% !important;
  margin-left: 0rem;
}
::ng-deep .addbenefit_options {
  font-size: 12px !important;
  color:#758591;
  font-family: "Nunito Sans" !important;
}

::ng-deep .mat-calendar{
  font-family: "Nunito Sans" !important;
}

::ng-deep .dashboardwidget-container {
  .widgetHeader {
    max-width: 100%;
    color: $primary-color;
    .bold {
      font-size: 12px;
    }
  }
}
::ng-deep .mat-select-arrow {
  color: #758591;
}
.img-div {
  width: auto !important;
  height: 100% !important;
  margin-left: 3px;
  margin-right: 3px;
}
::ng-deep .logoDiv {
  visibility: visible;
}

::ng-deep .icon {
  background-color: $primary-color !important;
  border-radius: 5px;
  z-index: 999;
}

::ng-deep .mat-card-menu {
  width: 170px;
  background-color: $primary-color !important;
}
::ng-deep .sidenav-container {
  height: 100%;
  width: 120px;
  background: $primary-color !important;
  background-color: $primary-color !important;
}

::ng-deep .sidenav {
  width: 170px;
  background-color: $primary-color;
}

::ng-deep .loginpage_1 {
  color: #758591 !important;
}
::ng-deep .Loginborder {
  color: #d9d8d6 !important;
}
::ng-deep .logincontact {
  color: $primary-color !important;
}
::ng-deep .loginregister {
  color: $primary-color !important;
}
::ng-deep .inputlogincolor {
  color: #0c2340 !important;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #005691;
}
::ng-deep .mat-checkbox-frame {
  border-color: #758591;
}
::ng-deep .contact_signin u{
color: #005daa;
}
::ng-deep .dashboard-header {
  .iconColor {
    color: $primary-color !important;
  }
  .addComponentColor {
    background-color: $primary-color !important;
    color: white !important;
  }
}
::ng-deep ::-webkit-scrollbar {
  width: 6px;
  border-radius: 100px;
  overflow-y: scroll;
  background: #d9d8d6;
  box-shadow: inset 0 0 4px #d9d8d6;
}

::ng-deep ::-webkit-scrollbar-thumb {
  //background: $primary-color !important;
  border-radius: 100px;
}
::ng-deep .noContentHeader {
  .wrapperDiv1 {
    .wrapperDiv {
      .customDiv {
        background-color: $primary-color !important;
      }
      .customDiv1 {
        background-color: $primary-color !important;
      }
    }
  }
}
::ng-deep .mat-table-all {
  ::ng-deep .mat-header-cell {
    font-size: 14px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    background-color: $primary-color !important;
    ::ng-deep .mat-sort-header-container {
      justify-content: center !important;
    }
  }
  ::ng-deep .scroll {
    width: 40px;
    height: 400px;
    overflow: scroll;
  }
  ::ng-deep tr.mat-header-row {
    height: 35px !important;
  }
 
  ::ng-deep .mat-paginator {
    background-color: transparent;
    color: black;
    align-items: center;
    font-size: 14px !important;
    max-height: 2.5rem;
    height: 25px !important;
    .mat-paginator-outer-container {
      max-height: 3rem;
    }
    .mat-select-value{
      font-size: 14px !important;
    }
  }
  ::ng-deep .mat-paginator-page-size {
    align-items: center;
    .mat-form-field-infix {
      margin-top: -12px !important;
    }
  }
  ::ng-deep .mat-cell {
    color: #000000;
    font-size: 12px;
    text-align: center;
    max-width: 200px;
    word-wrap: break-word;
    border: 1px solid #d9d6d8;
    a {
      color: #00a6cf;
    }
  }
  .mat-paginator-page-size-select{
    font-size: 14px;
  }
  ::ng-deep .mat-sort-header-arrow {
    .mat-sort-header-stem {
      color: white;
      font-size: 20px;
    }
    .mat-sort-header-indicator {
      color: white;
      font-size: 20px;
    }
  }

  ::ng-deep .mat-menu-panel {
    background: #EEF2F7!important;
}
::ng-deep .mat-option{
  font-family: "Nunito Sans" !important;
}
 
  ::ng-deep th.mat-header-cell:first-of-type,
  ::ng-deep td.mat-cell:first-of-type,
  ::ng-deep td.mat-footer-cell:first-of-type {
    padding: 0;
  }
  ::ng-deep th.mat-header-cell:last-of-type,
  ::ng-deep td.mat-cell:last-of-type,
  ::ng-deep td.mat-footer-cell:last-of-type {
    padding: 0;
  }
}

@media screen and (max-width: 912px) {
  //   .footer_text .Powered_text .label_text{
  //     position: absolute!important;
  //     right: 90px!important;
  //     margin-top: -42px!important;
  // }
  footer {
    visibility: hidden;
  }
}


::ng-deep .loader{
  z-index: 1!important;
  }


// ::ng-deep .wrapperDiv form{
//   z-index: 1!important;
// }
::ng-deep .k-grouping-header{
  background-color: #fff;
}

::ng-deep .k-input-inner {
  background-color: #fff!important;
}

::ng-deep .k-grid .k-grid-header-wrap{
  border-radius: 10px 10px 0px 0px!important;
}

::ng-deep .k-tilelayout {
  background-color: #F5F5F5;
}

// ::ng-deep .k-card {
//   background-color: #F5F5F5;
// }

.add_icon1{
  // padding: 0% 0.7% 0.5% 0.5%;
  color: #ffffff;
  padding: 0% 0% 4% 0%;
}

.add_icon1 .mat-icon{
margin-top: -1%;
}

.sub-header{
  background-color: #009CC1;
  border-radius: 8px;
}

.add_icon span{
  position: absolute;
  margin-top: 0.6%;
  margin-left: -1.2%;
}

.subheader_text{
display: flex;
padding-bottom: 0.5%;
}

.profile_icon{
background-color: #ffffff;
padding: 0% 0.5% 0% 0.5%;
border-radius: 8px;
}

.profile_icon .mat-icon{
  margin-top: 13%;
}

.notification_icon{
  background-color: #ffffff;
padding:0% 0.5% 0% 0.5%;
}

.notification_icon .mat-icon{
  margin-top: 8%;
}

.filter_icon{
  background-color: #ffffff;
  padding:0% 0.5% 0% 0.5%;
}

.filter_icon .mat-icon{
  margin-top: 8%;
}

.setting_icon{
  background-color: #ffffff;
  padding:0% 0.5% 0% 0.5%;
  border-radius: 8px;
}

.setting_icon .mat-icon{
  margin-top: 8%; 
}

.all_text{
  background-color: #ffffff;
  padding: 10% 0.5% 10% 0.5%;
  border-radius: 8px;
}

.new_text{
  background-color: #ffffff;
  padding: 10% 1.5% 10% 1.5%;
  border-radius: 8px;
}

.pending_text{
  background-color: #ffffff;
  padding: 4.5% 0.5% 4.5% 0.5%;
  border-radius: 8px;
}

.rush_text{
  background-color: #ffffff;
  padding: 5.2% 0.5% 5.2% 0.5%;
  border-radius: 8px;
}

/*icons bar*/
.table_subheader1{
  padding-right: 1%;
  width: 17%;
  text-align: center;
}

.table_subheader2{
  padding-right: 1%;
  width: 4.5%;
  text-align: center;
}

.table_subheader3{
  padding-right: 1%;
  width: 5%;
  text-align: center;
}

.table_subheader4{
  padding-right: 1%;
  width: 5%;
  text-align: center;
}


.table_subheader5{
  padding-right: 1%;
  width: 6%;
  text-align: center;
}

.table_subheader6{
  padding-right: 1%;
  width: 6%;
  text-align: center;
}

.table_subheader7{
  padding-right: 1%;
  width: 6%;
  text-align: center;
}

.table_subheader8{
  padding-right: 1%;
  width: 13%;
  text-align: center;
}

.table_subheader9{
  padding-right: 1%;
  width: 10.5%;
  text-align: center;
}

.subheader_text button{
background-color: #fff;
    border: none;
    border-radius: 8px;
}

// .copied_icon{
// background-color: #ffffff;
// padding: 5% 0% 2.4% 3%;
// border-radius: 8px;
// }

.copied_icon .mat-icon span{
position: absolute;
margin-top: 4%;
margin-left: -1%;
}

.dropdown ul{
position: absolute;
margin-top: 18%;
}

.side_icons{
width: 105%;
}

// .copied_icon span{
// background-color: #ffff;
// position: absolute;
// margin-top: -3%;
// }

.copied_icon .action_btn{
position: absolute;
background-color: #ffffff;
margin-top: -4px;
padding: 1% 0% 3% 4%;
}