<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [(selectedKeys)]="mySelection"
  [pageSize]="20"
  [pageable]="true"
  [sortable]="true"
  [groupable]="true"
  [reorderable]="true"
  [resizable]="true"  
  [columnMenu]="{ filter: true }"
  [style]="'height:100%'"
>
  <ng-template kendoGridToolbarTemplate>
    <kendo-textbox
      [style.width.px]="250"
      [style.border.px]="2"
      placeholder="Search in all columns..."
      (valueChange)="onFilter($event)"
    ></kendo-textbox>
    <kendo-grid-spacer></kendo-grid-spacer>
    <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
      Export to Excel
    </button>
    <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
  </ng-template>
  <kendo-grid-checkbox-column
    [width]="45"
    [headerClass]="{ 'text-center': true }"
    [class]="{ 'text-center': true }"
    [resizable]="false"
    [columnMenu]="false"
    [showSelectAll]="true"
  ></kendo-grid-checkbox-column>

  <kendo-grid-column  field="job_title" title="SubmissionId" [width]="220">
    <ng-template kendoGridCellTemplate let-dataItem>
      <a routerLink="/inbox/detail/summary" [ngStyle]="{ color: 'blue' }">{{
        dataItem.job_title
      }}</a>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    field="country"
    title="Account Name"
    [width]="150"
    [class]="{ 'text-center': true }"
    [resizable]="false"
  >
  </kendo-grid-column>


  <kendo-grid-pdf
    fileName="Employees.pdf"
    [repeatHeaders]="true"
  ></kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>
