::ng-deep kendo-button-list{
  padding: 5px;
}
::ng-deep .k-pager-md .k-pager-numbers-wrap .k-button{
  border-radius: 4px !important;
}
.generic-table {
  height: 96%;
  ::ng-deep .custom-border-download{
    border-radius: 8px;
  }
  ::ng-deep .k-grid-excel {
    background-color: transparent;
    color: #009cc1;
    border: none;
  }
 .custompopupforbutton{
  width : 2em
 }
  .kendo-dropdown-div{
    //padding-right: 2%;
    ::ng-deep .k-dropdown-button{
      button{
        padding: 5px;
        background: transparent;
      }
    }

    ::ng-deep .dropdown-button{
      border: 2px;
    }
    
  }
  ::ng-deep .k-button-solid-base.k-focus{
    border: none !important;
    box-shadow: none;
  }
  ::ng-deep .k-grid-pdf {
    background-color: transparent;
    color: #009cc1;
    border: none;
  }
  hr.solid {
    border-top: 3px solid white;
  }
  .loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ::ng-deep .k-cell-inner {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  ::ng-deep .k-grid-excel:hover {
    background-color: transparent;
    color: white;
  }
  ::ng-deep .k-grid-md .k-table-th .k-cell-inner .k-link {
    padding-block: 0;
    justify-content: center;
  }
  ::ng-deep .k-grid .k-grid-header .k-table-th {
    vertical-align: inherit;
  }

  ::ng-deep .k-grid-pdf:hover {
    background-color: transparent;
    color: white;
  }
  ::ng-deep .k-checkbox:checked {
    background-color: #00b6ad;
    color: white;
  }

  ::ng-deep .k-grid td.k-selected,
  .k-grid .k-table-row.k-selected > td,
  .k-grid .k-table-td.k-selected,
  .k-grid .k-table-row.k-selected > .k-table-td {
    background-color: transparent !important;
  }

  ::ng-deep .k-table-tbody .k-table-row.k-selected > .k-table-td,
  .k-table-list .k-table-row.k-selected {
    background-color: transparent !important;
  }
  ::ng-deep .k-svg-i-sort-desc-small {
    color: white;
  }
  ::ng-deep .k-svg-i-sort-asc-small {
    color: white;
  }

  ::ng-deep .k-svg-i-more-vertical {
    color: white;
  }

  ::ng-deep .k-input-inner {
    width: 70% !important;
    border: 1px;
    background-color: rgb(220, 214, 214);
  }

  ::ng-deep .k-grid .k-grid-header .k-table-th {
    background-color: #009cc1 !important;
    color: white;
    padding: 1%;
  }

  ::ng-deep .k-grid .k-grid-header-wrap {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  ::ng-deep .outputicon_clum {
    border-top-left-radius: 0 !important;
  }

  ::ng-deep .k-input-inner {
    background-color: #fff !important;
  }
  ::ng-deep .k-tilelayout {
    background-color: #f5f5f5;
  }
  ::ng-deep .k-icon {
    font-size: 30px;
    width: 37%;
  }
  ::ng-deep .k-checkbox {
    border-color: gray;
  }
  ::ng-deep ::-webkit-scrollbar {
    width: 6px;
    border-radius: 100px;
    overflow-y: scroll;
    background: #d9d8d6;
    box-shadow: inset 0 0 4px #d9d8d6;
  }
  ::ng-deep ::-webkit-scrollbar-thumb {
    //background: $primary-color !important;
    border-radius: 100px;
  }
  ::ng-deep .scroll {
    width: 40px;
    height: 400px;
    overflow: scroll;
  }
}

::ng-deep .k-grid-md td,
.k-grid-md .k-table-td {
  text-align: center !important;
}

.submissionid {
  font-size: 14px;
}

.submissionicon span {
  font-size: 15px !important;
  padding-left: 18%;
}

.newtext {
  font-size: 8px;
  position: absolute;
  margin-left: 0px;
  color: red;
}

.excel_icon {
  fill: #00b6ad;
}

.pdf_icon {
  fill: red;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  // padding: 0 0.25em;
  text-align: center;
  width: 100%;
}

::ng-deep .generic-table .k-grid-toolbar {
  /* background: transparent !important; */
  background: #eef2f7 !important;
  border: none !important;
}

::ng-deep .k-toolbar .k-input {
  // width: 10em;
  width: 30% !important;
  border: 2px;
  height: 2rem;
}

::ng-deep .k-grouping-header {
  background-color: #eef2f7;
}

.fixed-height-cell {
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.expanded-cell {
  max-height: none;
  white-space: normal;
  cursor: initial;
  text-align: start;
}

::ng-deep .k-grouping-header > .k-grouping-drop-container {
  padding-block: 0;
  font-size: 12px;
}

::ng-deep .k-grid-md .k-grouping-header {
  padding-block: 0;
  padding-bottom: 0.6%;
}

::ng-deep .k-grid-header {
  background-color: #eef2f7 !important;
  border: none !important;
}

::ng-deep .k-toolbar .k-picker {
  width: 12em;
}

::ng-deep .k-toolbar-md {
  gap: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  height: 10px;
  width: 10px;
}

.dropdown-content {
  display: none;
  // position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  // z-index: 1;
}

.dropdown-content img {
  width: 100%;
  height: auto;
}

.dropdown-content p {
  padding: 10px;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

::ng-deep .kendo-splitbutton {
  margin: 0 3px;
}
.export_xl {
  font-size: 12px;
}
.export_pdf {
  font-size: 12px;
}
::ng-deep .k-button-solid-base {
  border: #fff;
  background-color: #fff;
}
::ng-deep .k-menu-group .k-item.k-focus > .k-link {
  box-shadow: none;
}

::ng-deep .k-menu-group-md .k-menu-link {
  padding-block: 0;
  padding-inline: 0;
  padding-inline-end: 0;
}

.export_psdxl {
  background-color: transparent;
}

::ng-deep .k-menu-popup {
  border-radius: 10px;
}

.excel_download .disabled {
  opacity: 0.5;
}

.disabled {
  opacity: 0.5;
}

.submissionicon span {
  color: #009cc1;
}

::ng-deep .kendo-grid-column-group {
  width: 200px !important;
}
// .outputicon-class .kendo-grid-column

::ng-deep .k-grid-header .k-header-group {
  border-radius: 0 !important;
}

::ng-deep .k-grid-header .k-header-column {
  border-radius: 0 !important;
}

::ng-deep .k-grid-content .k-column {
  border-radius: 0 !important;
}

.circle {
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 0px;
  border-radius: 50%;
  font-size: 10px;
  min-width: 18px;
  min-height: 18px;
  font-weight: bold;
}

  .circle span {
      display: inline-block;
      padding-top: 50%;
      padding-bottom: 50%;
      margin-left: 1px;
      margin-right: 1px;
  }

.clrOrange {
  background: orange;
}
.clrRed {
  background: #FF0000;
}

.clrorigami {
  background: #016396;
}

.clrsplit {
  background: green;
}
::ng-deep .outputicon-class .k-svg-i-more-vertical {
  display: none !important;
}

::ng-deep th[data-field="alerts"] a.k-grid-filter {
  display: none !important;
}

::ng-deep .submissionicon:hover .k-icon {
  cursor: pointer; 
}

::ng-deep .submissionicon{
cursor: default;
}

::ng-deep .k-popup .k-popup-content {
  padding-left: 10px!important;
  padding-right: 10px!important; 
  padding-top: 10px!important; 
  padding-bottom: 10px!important; 
}


::ng-deep .k-menu-popup {
  padding:2%!important;
}

::ng-deep .k-popup li:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff;
}
::ng-deep .k-menu-popup li:hover {
  background-color: rgb(0, 156, 193) !important;
  color:#fff;
}

::ng-deep .k-menu-popup > .k-item {
  font-weight: bold;
}

::ng-deep.k-menu-popup{
  margin-left: -4%!important;
  background-color: #fff !important;
}


::ng-deep .k-menu-link-text:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff;
}

::ng-deep .k-menu-group-md .k-menu-item:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff;
}

::ng-deep .k-menu-link:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff!important;
}

.k-menu-group-md .k-menu-item img:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff!important;
}

.k-popup li img:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff!important;
}

.k-popup .k-item img:hover{
  background-color: rgb(0, 156, 193) !important;
  color:#fff!important;
}

.k-item img:hover{
  color:#fff!important;
}