<div class="generic-table">
<kendo-grid
  [kendoGridBinding]="gridView"
  kendoGridSelectBy="id"
  [(selectedKeys)]="mySelection"
  [pageSize]="10"
  [pageable]="true"
  [sortable]="true"
  [groupable]="false"
  [reorderable]="true"
  [resizable]="true"
  [columnMenu]="{ filter: true }"
  [style]="'height:38em'"
>
  <ng-template kendoGridToolbarTemplate>
    <kendo-textbox
      [style.width]="'25%'"
      [style.border.px]="2"
      placeholder="Search in all columns..."
      (valueChange)="onFilter($event)"
    ></kendo-textbox>
    <kendo-grid-spacer></kendo-grid-spacer>
    <button kendoGridExcelCommand type="button" [svgIcon]="excelSVG">
      Export to Excel
    </button>
    <button kendoGridPDFCommand [svgIcon]="pdfSVG">Export to PDF</button>
  </ng-template>
  <ng-template ngFor [ngForOf]="columns" let-column>
    <kendo-grid-column
      *ngIf="column.type == 'text'"
      field="{{ column.field }}"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-rowIndex="rowIndex"
        let-value="value"
      >
        {{ dataItem[column.field] }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      *ngIf="column.type == 'link'"
      field="{{ column.field }}"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-rowIndex="rowIndex"
        let-value="value"
      >
        <a routerLink="/inbox/detail/summary" [ngStyle]="{ color: 'blue' }">
          {{ dataItem[column.field] }}</a
        >
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      *ngIf="column.type == 'checkbox'"
      field="{{ column.field }}"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
    >
      <ng-template
        kendoGridHeaderTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <input type="checkbox" kendoCheckBox />
      </ng-template>
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-rowIndex="rowIndex"
        let-value="value"
      >
        <input type="checkbox" kendoCheckBox />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column
      *ngIf="column.type == 'icon'"
      field="{{ column.field }}"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
    >
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-rowIndex="rowIndex"
        let-value="value"
      >
        <span class="k-icon k-i-import"></span>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      *ngIf="column.type == 'alerts'"
      field="{{ column.field }}"
      title="{{ column.title }}"
      format="{{ column.format }}"
      [filterable]="column.filterable"
      [sortable]="column.sortable"
      [filter]="column.type"
      [width]="column.width"
      [columnMenu]="column.columnmenu"
    >
      <ng-template
        kendoGridHeaderTemplate
        let-column
        let-columnIndex="columnIndex"
      >
        <div>
          <div style="text-align: center">
            {{ column.title }}
          </div>
          <div style="display: flex; text-align: center">
            <img
              src="../../../assets/images/Extraction.svg"
              style="padding-right: 0.5rem"
            />
            <img
              src="../../../assets/images/Completeness Check.svg"
              style="padding-right: 0.5rem"
            />
            <img
              src="../../../assets/images/Risk Clearance.svg"
              style="padding-right: 0.5rem"
            />
          </div>
        </div>
      </ng-template>
      <ng-template
        kendoGridCellTemplate
        let-dataItem
        let-rowIndex="rowIndex"
        let-value="value"
      >
        <div style="display: flex">
          <span class="k-icon k-i-circle" style="color: gray"></span>
          <span class="k-icon k-i-circle" style="color: gray"></span>
          <span class="k-icon k-i-circle" style="color: gray"></span>
        </div>
      </ng-template>
    </kendo-grid-column>
  </ng-template>

  <kendo-grid-pdf
    fileName="Employees.pdf"
    [repeatHeaders]="true"
  ></kendo-grid-pdf>
  <kendo-grid-excel fileName="Employees.xlsx"></kendo-grid-excel>
</kendo-grid>
</div>