<div class="email-popup">
  <div class="email-subheader">
    <h3 style="height: 100%; margin: 0; padding: 1% 1% 1% 2%">
      Submission ID - {{ SubmissionId }}
    </h3>
  </div>
  <div class="email-body">
    <mat-dialog-content
      class="mat-typography"
      style="max-height: 80%; padding: 0; background-color: #fff"
    >
      <div class="email-heading">
        <div>
          <h4 class="h4-custom" style="float: left; display: flex">From: &nbsp;</h4>
          <h4 class="h4-custom" style="color: #009cc1;">{{ senderEmail }}</h4>
        </div>
        <div>
          <h4 class="h4-custom" style="float: left; display: flex">Sent: &nbsp;</h4>
          <h4 class="h4-custom" >{{ receivedOn }}</h4>
        </div>
        <!-- <div>
          <h4 class="h4-custom" style="float: left; display: flex">To: &nbsp;</h4>
          <h4 class="h4-custom" style="color: #009cc1;">{{ senderEmail }}</h4>
        </div> -->
        <div>
          <h4 class="h4-custom" style="float: left; display: flex">Subject: &nbsp;</h4>
          <h4 class="h4-custom" >{{ messgageSubject }}</h4>
        </div>
        <!-- Submission Email -->
      </div>
      <div class="emai-content" [innerHTML]="htmlData"></div>
    </mat-dialog-content>
  </div>
</div>
