// .email-header{
//     padding: 5%;
//     color:#eef2f7;
// }


::ng-deep .k-popup .k-popup-content {
    background-color: #f0f0f0!important; 
    color: #333; 
  }
  
::ng-deep .k-popup-overlay {
    background-color: rgba(0, 0, 0, 0.5); 
  }
  