<div class="bluetopbar">
    <kendo-tilelayout
      [columns]="40"
      [rowHeight]="'100%'"
      [resizable]="false"
      [reorderable]="false"
      class="top-bar-header"
      [gap]="05"
      style="background-color: #009cc1!important;color: #fff!important;"
      
    >
      <kendo-tilelayout-item class="divider" [col]="1" [colSpan]="6" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="height:1rem;text-align: center;background-color: #009cc1!important;color: #fff!important;">
            <div style="font-size:15px"><h3 style="margin: 0;"><b>{{ accountInformation.NamedinsuredFullname}}</b></h3></div>
           <span class="adress_size">{{ accountInformation.FullAddress}}</span>
          <!-- <ng-template #noHeaderImage> </ng-template> -->
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="7" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
      <span class="pipeline">|</span>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="8" [colSpan]="4" [row]="1" [rowSpan]="1">
          <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
              <div>
                  <span class="profile_icon">
                    <mat-icon>
                        <span class="material-icons-outlined">
                        {{navItems[1].icon}}
                        </span> 
                    </mat-icon>
                        <br>
                 <span>{{accountInformation.SICCode}}</span>     
                  </span>
                </div>
               
          </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="12" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
      <span class="pipeline">|</span>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
       <kendo-tilelayout-item class="divider" [col]="13" [colSpan]="4" [row]="1" [rowSpan]="1">
          <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
              <div>
                  <span class="notification_icon">
                    <mat-icon><span class="material-icons-outlined">
                        {{navItems[2].icon}}
                        </span></mat-icon>
                        <br>
                    <span class="calender_date" *ngIf="accountInformation.EffectiveDate==null" style="font-size: 14px;">NA</span>
                    <span class="calender_date">{{accountInformation.EffectiveDate}}</span>
                    </span>
                </div>
          </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> 
      <kendo-tilelayout-item class="divider" [col]="17" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
      <span class="pipeline">|</span>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="18" [colSpan]="6" [row]="1" [rowSpan]="1">
          <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
              <div>
              <mat-icon>
               <span class="material-icons-outlined">
                {{navItems[3].icon}}
                </span> 
            </mat-icon>
                 <br>
               <span>{{submissionInfo.LOB}}</span>

                </div>
          </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> 
      <kendo-tilelayout-item class="divider" [col]="24" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
      <span class="pipeline">|</span>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
       <kendo-tilelayout-item class="divider" [col]="25" [colSpan]="4" [row]="1" [rowSpan]="1">
          <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
          <div>
            <mat-icon>
               <span class="material-icons-outlined">
                {{navItems[4].icon}}
                </span> 
            </mat-icon>
            <br>
            <span>{{ accountInformation.ProducerFullname}}</span>
         
          </div>
          </kendo-tilelayout-item-body>
        </kendo-tilelayout-item> 
        <kendo-tilelayout-item class="divider" [col]="29" [colSpan]="1" [row]="1" [rowSpan]="1">
            <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
          <span class="pipeline">|</span>
          </kendo-tilelayout-item-body>
          </kendo-tilelayout-item>
        <kendo-tilelayout-item class="divider" [col]="30" [colSpan]="4" [row]="1" [rowSpan]="1">
            <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
          <div style="padding:8%">

           <span class="risk1">{{navItems[5].pending1}}</span>&nbsp;
           <span class="risk1">{{navItems[5].pending2}}</span>&nbsp;
           <span class="risk1">{{navItems[5].pending3}}</span>&nbsp;
            <br/>
            <span>{{submissionInfo.Status}}</span>

          </div>
          </kendo-tilelayout-item-body>
      </kendo-tilelayout-item> 
      <kendo-tilelayout-item class="divider" [col]="34" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
      <span class="pipeline">|</span>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

    <kendo-tilelayout-item class="divider" [col]="35" [colSpan]="4" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: left;background-color: #009cc1!important;color: #fff!important;">
            <div class="side_icons">
                <span class="profile_icon" style="padding-top: 5%;">
                        <img
                          [src]="inboxService.notificationIconURL"
                          class="imgHeight rounded-circle"
                        />           
                </span>&nbsp;&nbsp;&nbsp;
                <span class="profile_icon">
                    <img
                      [src]="inboxService.topbarIconURL"
                      class="imgHeight rounded-circle"
                    />  
                    <span class="badge">{{
                        inboxService.notificationCount
                      }}</span>         
            </span>&nbsp;&nbsp;&nbsp;
            <!-- <span class="profile_icon">
                <img
                  [src]="inboxService.defaultIconURL"
                  class="imgHeight rounded-circle"
                />           
        </span>&nbsp;&nbsp;&nbsp; -->
        <span class="copied_icon" [matMenuTriggerFor]="menu"
        #menuTrigger="matMenuTrigger"
        (mouseover)="openMyMenu(menuTrigger)">
            <span *ngIf="!isToggleOn" (click)="toggleDropdown()" class="imgHeight input-with-icon action_btn">
                <!-- <mat-icon class="drop_up"><span class="material-icons-outlined"> -->

                    {{ navItems[6].title }}
                    <!-- </span></mat-icon> -->
                </span>
        
            <!-- <span *ngIf="isToggleOn" (click)="toggleDropdown()" class="imgHeight input-with-icon action_btn" > -->
            <!-- <mat-icon class="drop_down"><span class="material-icons-outlined"> -->
                <!-- {{ navItems[6].title }} -->
                    <!-- </span></mat-icon> -->
                <!-- </span> -->
                <mat-menu
              #menu="matMenu"
              class="profiledropdown"
              style="color: #f5f5f5 !important"
            >
              <span (mouseleave)="closeMyMenu(menuTrigger)">
                <button
                  mat-menu-item
                  routerLink="/my-profile"
                  queryParamsHandling="preserve"
                >
                Approve
                </button>
                <button
                  mat-menu-item
                  routerLink="/change-password"
                  queryParamsHandling="preserve"
                >
                Approve & Submit
                </button>
                <button
                  mat-menu-item
                  routerLink="/notifications-settings"
                  queryParamsHandling="preserve"
                >
                Reject 
                </button>
                <button
                mat-menu-item
                routerLink="/notifications-settings"
                queryParamsHandling="preserve"
              >
              Refer 
              </button>
              <button
              mat-menu-item
              routerLink="/notifications-settings"
              queryParamsHandling="preserve"
            >
            Reprocess 
            </button>
                <!-- <button mat-menu-item (click)="Guidewire()">Send to Guidewire</button>
                <button mat-menu-item (click)="Logout()">Sign Out</button> -->
              </span>
            </mat-menu>
            </span>
        <div class="dropdown" *ngIf="isToggleOn">
            <!-- <mat-card *ngIf="isToggleOn">

                <mat-card-content> -->
                  <!-- <ul>
                    <li *ngFor="let option of dropdownOptions">
                      <a [routerLink]="option.link">{{ option.label }}</a>
                    </li>
                  </ul> -->
                <!-- </mat-card-content>
              </mat-card> -->
              
              </div>

              </div>

        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> 
    <!-- <kendo-tilelayout-item class="divider" [col]="11" [colSpan]="1" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: center;background-color: #009cc1!important;color: #fff!important;">
            <div>
                <span class="profile_icon">
                        <img
                          [src]="inboxService.topbarIconURL"
                          class="imgHeight rounded-circle"
                        />           
                </span>
              </div>
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->
    <!-- <kendo-tilelayout-item class="divider" [col]="12" [colSpan]="2" [row]="1" [rowSpan]="1">
        <kendo-tilelayout-item-body style="text-align: left;background-color: #009cc1!important;color: #fff!important;">
        <div>
            <span class="profile_icon">
                    <img
                      [src]="inboxService.defaultIconURL"
                      class="imgHeight rounded-circle"
                    />           
            </span>
          </div>
</kendo-tilelayout-item-body>
    </kendo-tilelayout-item> -->
    </kendo-tilelayout>
  </div>
  