.reminder h3{
    margin:0;
}

.mat-typography h3{
margin: 0!important;
}

/* Custom typography classes */
.green-typography {
    color: green;
  }
  
  .red-typography {
    color: red;
  }
  
  .yellow-typography {
    color: yellow;
  }
  
  /* Custom color classes */
  .green {
    color: green;
  }
  
  .red {
    color: red;
  }
  
  .yellow {
    color: yellow;
  }
  .pipe_line{
    position: absolute;
    margin-left: -18px;
    font-size: 30px;
    margin-top: 4px;
  }

  .reminders ul{
    margin-bottom: 0!important;
    padding-left: 2%;
  }

  .reminders ul li span{
color:#000;
font-size: 12px;
  }
  .editedtime{
    color:gray;
    font-size: 11px;
  }
  .statussize{
    font-size: 10px;
  }

  .my_remainders{
    margin: 0;
    padding: 2% 0% 2% 10%;
    font-size: 14px;
    background-color: #009CC1 !important;
    color: #fff;
  }

  .k-card-body {
    padding-block: 5px;
  }






/*news*/


//   .news-container {
//     padding: 20px;
//   }
  
//   .news-content {
//     padding: 10px;
//   }
  
  ::ng-deep kendo-card {
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  