<div class="container" style="height: 100%; padding:0;">
    
    
      <div class="reminders" style="height:100%; overflow: auto;">
        <!-- <h3 class="my_remainders">My Reminders</h3> -->
        <kendo-card style="margin: 0;">
            <h3 class="my_remainders">My Reminders</h3>
            <mat-divider></mat-divider>
            <div *ngFor="let reminder of reminders">
          <kendo-card-body>
            <div>
            <h3 [ngClass]="{ 'green-typography': reminder.status === 'quoted', 'red-typography': reminder.status === 'pending', 'yellow-typography': reminder.status === 'waiting' }">
               <span class="pipe_line">|</span>
              </h3>
              <ul [ngClass]="{ 'green-typography': reminder.status === 'quoted', 'red-typography': reminder.status === 'pending', 'yellow-typography': reminder.status === 'waiting' }">
                <li ><span>{{ reminder.title }}</span></li>
              </ul>
               <span class="editedtime">{{ getFormattedTime(reminder.time) }}</span>
              <span class="statussize" [ngClass]="{ 'green': reminder.status === 'quoted', 'red': reminder.status === 'pending', 'yellow': reminder.status === 'waiting' }">
                {{ reminder.status }}
              </span>
              </div>
              <hr>
              </kendo-card-body>
              </div>
        </kendo-card>
      </div>
      
      
    
      </div>