// ::ng-deep .home-menu .k-card-body {
//     height: 18rem!important;
// }

.account_info{
    background: #fff; 
    color: #005DAA;
    font-size: 16px;
}

.coverage_requested{
    background: #fff; 
    color: #005DAA;
    font-size: 16px;
}

.prior_carrier{
    background: #fff; 
    color: #005DAA;
    font-size: 16px; 
}