.wrapper{

// ::ng-deep .home-menu .k-card-body {
//     height: 18rem!important;
// }

.account_info{
    background: #fff; 
    color: #005DAA;
    font-size: 16px;
    padding-left: 2%;
}

.coverage_requested{
    background: #fff; 
    color: #005DAA;
    font-size: 16px;
    padding-left: 1.8%;
}

.prior_carrier{
    background: #fff; 
    color: #005DAA;
    font-size: 16px; 
}

// ::ng-deep .home-menu .k-card-body {
//     background-color: #fff;
//     height: 22rem;
//   }

::ng-deep .k-tilelayout{
    grid-auto-rows: auto!important;
    
}
}

::ng-deep .k-tabstrip-items-wrapper .k-item.k-active {
    border-color: none; 
    color: #424242;
    background-color: transparent;
    border:none;
}