<!-- <kendo-card>
    <kendo-card-body>

    </kendo-card-body>
</kendo-card> -->

<kendo-tilelayout
  [columns]="2"
  [resizable]="false"
  [reorderable]="false"
  class="home-body"
  [gap]="0"
  [style]="'padding: 0 !important;height:100%'"
>
  <kendo-tilelayout-item
    [col]="1"
    [colSpan]="1"
    style="border-radius: 0 !important"
  >
    <kendo-tilelayout-item-body style="padding: 5%;">
      <div style="display: flex; justify-content: center;">
        <img [src]="simpleData.ItemIcon_1" style="width: 15%; height: 100%;" />

        <h3 style="margin: 0 0 0 5%;font-size: 18px;"><b>{{simpleData.ItemData_1}}</b></h3>
      </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
  <kendo-tilelayout-item
    [col]="2"
    [colSpan]="1"
    style="border-radius: 0 !important"
  >
    <kendo-tilelayout-item-body style="padding: 5%;">
      <div style="display: flex; justify-content: center;" >
        <img [src]="simpleData.ItemIcon_2" style="width: 15%; height: 100%;"/>

        <h3 style="margin: 0 0 0 5%;font-size: 18px;"><b>{{simpleData.ItemData_2}}</b></h3>
      </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
