<!-- <kendo-card>
    <kendo-card-body>

    </kendo-card-body>
</kendo-card> -->

<kendo-tilelayout
  [columns]="2"
  [resizable]="false"
  [reorderable]="false"
  class="home-body"
  [style]="'padding: 0 !important;'"
>
  <kendo-tilelayout-item [col]="1" [colSpan]="1">
    <kendo-tilelayout-item-body> 
        <div class="iconDiv">
            <mat-icon style="font-size: 18px; color: black"
            >save_alt</mat-icon>
        </div>
        <div class="data">
            50000
        </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
  <kendo-tilelayout-item [col]="2" [colSpan]="1">
    <kendo-tilelayout-item-body> 
        <div class="iconDiv">
            <i class="fa-sharp fa-solid fa-people-group"></i>
        </div>
        <div class="data">
            512
        </div>
    </kendo-tilelayout-item-body>
  </kendo-tilelayout-item>
</kendo-tilelayout>
