<div style="border-radius: 25px;">
  <mat-dialog-content class="mat-typography" style="max-height:80%;padding: 0;">
    <div style="background: #fff">
      <div class="header_data">
      <kendo-tilelayout
      [columns]="6"
      [rowHeight]="'100%'"
      [resizable]="false"
      [reorderable]="false"
      class="top-bar-header"
      [style]="'position: relative;'"
      [gap]="0"
      [style]="'background: linear-gradient(135deg, #00A7CE 0%, #00CEC3 100%)!important;'"
      >
        <kendo-tilelayout-item [col]="1" [colSpan]="2" [row]="1" [rowSpan]="1" style="border-radius: 0;background: #fff!important;">
        <kendo-tilelayout-item-body  style="max-height: 82%;">
      <div class="files_header">
        <div>Files</div>      
      </div>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item [col]="3" [colSpan]="2" [row]="1" [rowSpan]="1" style="border-radius: 0;background: #fff;" >
        <kendo-tilelayout-item-body *ngIf="showSubmissionId"> 
          <div class="centered-text">Submission ID - {{ submissionId }}</div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item [col]="5" [colSpan]="6" [row]="1" [rowSpan]="1" style="border-radius: 0;background: #fff">
        <kendo-tilelayout-item-body>
          <div>          
            <button mat-button mat-dialog-close class="close_btn" style="float: right;color:#B1B1B1!important;margin-top: 11px;">X</button>
            
          <!-- <button mat-icon-button (click)="maximize()" style="float: right;color:#fff!important;margin-top: -6px;">
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button mat-icon-button (click)="minimize()" style="float: right;color:#fff!important;margin-top: -6px;">
            <mat-icon>fullscreen_exit</mat-icon>
          </button> -->

          <button mat-icon-button (click)="toggleMaximize()" style="float: right;color:#B1B1B1!important;margin-right:-20px;">
            <mat-icon>{{ isMaximized ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
          </button>
          

          <!-- <button mat-button mat-dialog-close style="float:right;position: absolute;top: 1.5%;right:25%" (click)="toggleMinimize()">
            <mat-icon>remove</mat-icon>
          </button> -->
          
       </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

      
      </kendo-tilelayout>
      </div>

      <kendo-tilelayout
        [columns]="7"
        [rowHeight]="'100%'"
        [resizable]="false"
        [reorderable]="false"
        class="top-bar-header"
        [style]="'position: relative;'"
        [gap]="0"
       style="background-color:#DEDEE2"
      >
        <kendo-tilelayout-item [col]="1" [colSpan]="5" [row]="1" [rowSpan]="1" style="border-radius: 0;">
          <kendo-tilelayout-item-body style="max-height: 82%;">
            <app-fileviewer [files]="pdfList" (selectedFilesEvent)="Upload($event)"></app-fileviewer>
            <!-- <p>FileSelect</p>
            <p class="new_chat">+    New Chat</p> -->

            <!-- <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput multiple>
            <button mat-button (click)="fileInput.click()" style="border: none;background-color: #fff;">
              <span class="material-icons">attach_file</span> Add Files
            </button> -->
            <!-- <kendo-fileselect [(ngModel)]="uploadedFiles" [restrictions]="restrictions" [multiple]="true"> </kendo-fileselect> 
          <div style="padding: 0% 0 3% 3%;">
            <kendo-button
              class="copied_icontop"
              (click)="Upload()"
              style="background-color: #009CC1; color: white;"
            >
             <span style="font-size: 11px;"> Upload</span>
            </kendo-button>
            </div> -->
            <!-- <kendo-icon icon="delete" class="delete-icon"></kendo-icon> -->
            <!-- <p class="delete_conversation">Delete Conversations</p> -->
            
          </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
        
        <kendo-tilelayout-item [col]="6" [colSpan]="7" [row]="1" [rowSpan]="1">
          <kendo-tilelayout-item-body style="max-height: 80%;padding-left: 5%!important;">
            <div>
              <kendo-chat
                [messages]="(feed | async)!"
                [user]="user"
                (sendMessage)="sendMessage($event)"
                style="max-width: none !important;height: 35rem;">
              </kendo-chat>
            </div>
          </kendo-tilelayout-item-body>
        </kendo-tilelayout-item>
      </kendo-tilelayout>
    </div>
  </mat-dialog-content>
</div>
