.list-title {
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  ::ng-deep .k-chat .k-timestamp {
    color: #fff;
}

.new_chat{
  // color:#fff;
  // background-color: #00D6CB;
  padding: 10%;
}

::ng-deep .k-tilelayout-item-body {
padding: 0;
}

::ng-deep .k-message-box {
padding: 1%;
}

.delete_conversation{
position: fixed;
bottom: 20%;
padding-left: 0.5%;
font-size: 13px;
color:#fff;
}

::ng-deep .k-upload {
  width: 95%;
}

::ng-deep .k-upload .k-dropzone, .k-upload .k-upload-dropzone {
  color: #fff;
  // background-color: #00b6ad;
  background-color: #fff!important;
}

::ng-deep .k-upload {
  border: none;
}
::ng-deep .k-upload .k-dropzone .k-dropzone-hint, .k-upload .k-upload-dropzone .k-dropzone-hint {
 color: #fff;
  font-size: 10px;
}
.copied_icontop{
  border:1px solid #fff;
}

::ng-deep .k-chat .k-message-group:not(.k-alt) .k-only .k-bubble {
  color: #00B6AD;
  font-size: 14px;
}

::ng-deep .k-upload .k-dropzone .k-dropzone-hint{
  // color: #fff;
  // font-size: 10px;
  // padding-left: 4%;
  display: none;
}

::ng-deep .k-upload .k-upload-button {
  font-size: 12px;
  margin-top: 8%;
  background-color: #009cc1;
  color: #fff;
}
::ng-deep .k-chat .k-timestamp {
  color: #000;
}
::ng-deep .mat-mdc-button .mdc-button__label{
  z-index: 1;
  font-size: 16px;
}

::ng-deep .cdk-overlay-pane{
    max-width: 100vw!important;
}
::ng-deep .k-chat {
  border-color: rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.header_data{
  padding: 0% 2% 0% 2%;
  background-color: linear-gradient(135deg, #00A7CE 0%, #00CEC3 100%);
}

.centered-text{
font-size: 15px;
color:#fff!important;
margin-top: 3%;
}

.files_header{
  font-size: 15px;
  color:#fff!important;
  margin-top: 3%;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__container {
 margin-top: 1%!important;
}

::ng-deep .mat-mdc-button>.mat-icon {
  margin-top: -8px!important;
}

::ng-deep .mat-mdc-button .mdc-button__label{
  margin-top: -8px!important;
}

::ng-deep .mdc-dialog__surface{
  overflow-y: visible!important;
}