.dashboardwidget-container {
//     .mat-divider {
//       display: block;
//       margin: 02;
//       border-top-width: 2px;
//       border-top-style: solid;
//       width: 99%;
//       border-top-color: #D9D8D6 !important;
//    }
//display: flex;
       // justify-content: center;
        width: 100%;

.header-text,
.card-container {
  text-align: center;
}
    .custom-placeholder {
      padding: 0rem 0rem 1rem 0rem !important;
      margin: 0rem 0rem 0em 0rem !important;
    }
    // .customRow {
    //   max-height: 100%; /* 1.5 x 3 */
    //   overflow-y: auto;
    //   overflow-x: hidden;
    // }
    .customwidth {
      width: 100% !important;
    }
    // .LargeBox {
        // width: 33.33333%;
    //   height: 44vh;
    //   width: 60.8rem !important;
    //   margin: 0px 0px 0px 0rem !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
    // .MediumBox {
        // width: 33.33333%;
    //   height: 40vh;
    //   width: 29.8rem !important;
    //   margin: 0px 0px 0px 0rem !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
    // .SmallBox {
    //   height: 24vh;
      // width: 33.33333%;
    //   width: 19.5rem !important;
      // margin: 0px 0px 0px 0rem !important;
      // padding: 0px 0px 0px 0px !important;
    // }
    // .row {
    //   margin: 0px 0px 0px -0.5rem !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
    // .col-md-4 {
    //   margin: 0px 0px 0px 0px !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
    // .col-md-6 {
    //   margin: 0px 0px 0px 0px !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
    // .col-md-12 {
    //   margin: 0px 0px 0px 0px !important;
    //   padding: 0px 0px 0px 0px !important;
    // }
  }
  
  

//   mat-card{
//     padding: 2;
//   }
//   .max-button{
//     max-height: 4vmin;
//     max-width: 4vmin;
//   }
//   // .widgetHeader{
  //   max-width: 100%;
  //   color: #005daa;
  //   .bold{
  //     font-size: 12px;
  //   }
  // }
  // .LargeBox 
  // {.widgetHeader{
  //   text-align: center; 
  //   max-height: 5vh; 
  //   border: 2;
  //   background-color: aliceblue;
  //   margin-left: 55vmin;
  //   padding-left: 1vw;
  //   width: max-content;
  // }
  // }
  // .MediumBox {.widgetHeader{
  //   text-align: center; 
  //   max-height: 5vh; 
  //   border: 2;
  //   background-color: aliceblue;
  //   margin-left: 26vmin;
  //   padding-left: 1vw;
  //   width: max-content;
  // }
  // }
  // .SmallBox {.widgetHeader{
  //   text-align: center; 
  //   max-height: 5vh; 
  //   border: 2;
  //   background-color: aliceblue;
  //   margin-left: 10vmin;
  //   padding-left: 1vw;
  //   width: max-content;
  // }}
//   .max-icon{
//     max-height: 3vh;
//     max-width: 3vw;
//     font-size:2vmax;
//     line-height: 3vh !important;
//   }
//   .fullscreen {
//     width: 96vw;
//     height: 90vh !important;
//     position: fixed;
//     padding: 5vmin;
//     z-index: 99999;
//     top: 2vmax;
//     left: 2vmax;
//   }