.account-card {
  width: 100% !important;
}

.k-tilelayout .k-card {
  box-shadow: none;

  border-width: 1px;

  border: none !important;
}

.name_input {
  padding: 2%;
}

.account_deatils {
  width: 45%;
  font-size: 14px;
}

.name_input input {
  width: 50%;
  height: 100%;
  padding: 0.5% 0.5% 0.5% 1%;
  font-size: 14px;
}

// .account-card{
//   height: 18rem; 
//   overflow: auto; 
// }