<kendo-card class="account-card">
  <kendo-card-body>
    <kendo-tilelayout
      [columns]="3"
      [resizable]="false"
      [reorderable]="false"
      class="home-menu"
      [gap]="0"
      style="grid-auto-rows: auto;"
    >
      <kendo-tilelayout-item
        [col]="1"
        [colSpan]="1"
        [row]="1"
        [rowSpan]="1"
        class="home-menu"
      >
        <kendo-tilelayout-item-body style="height: 50%;"> 
          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Account Name *</h3>
            <input
              matInput
              [ngModel]="accountInformation.namedinsured_Fullname"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Business Address *</h3>

            <input
              matInput
              [ngModel]="accountInformation.namedInsured_MailingAddress_LineOne + ' ' + accountInformation.namedInsured_MailingAddress_CityName + ' ' + accountInformation.namedInsured_MailingAddress_StateOrProvinceCode + ' ' + accountInformation.namedInsured_MailingAddress_PostalCode"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Description of Business *</h3>

            <input
              matInput
              [ngModel]="accountInformation.CommercialPolicy_OperationsDescription"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Business Type *</h3>

            <input
              matInput
              [ngModel]="accountInformation.NamedInsured_LegalEntity_CorporationIndicator + accountInformation.NamedInsured_LegalEntity_IndividualIndicator + accountInformation.NamedInsured_LegalEntity_JointVentureIndicator + accountInformation.NamedInsured_LegalEntity_LimitedLiabilityCorporationIndicator + accountInformation.NamedInsured_LegalEntity_MemberManagerCount + accountInformation.NamedInsured_LegalEntity_NotForProfitIndicator + accountInformation.NamedInsured_LegalEntity_PartnershipIndicator + accountInformation.NamedInsured_LegalEntity_SubchapterSCorporationIndicator + accountInformation.NamedInsured_LegalEntity_TrustIndicator + accountInformation.NamedInsured_LegalEntity_OtherIndicator + accountInformation.NamedInsured_LegalEntity_OtherDescription"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Proposed Effective Date *</h3>

            <input
              matInput
              [ngModel]="accountInformation.policy_Effectivedate"
              [attr.disabled]="true"
              disabled
            />
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

      <kendo-tilelayout-item
        [col]="2"
        [colSpan]="1"
        [row]="1"
        [rowSpan]="1"
        class="home-menu"
      >
        <kendo-tilelayout-item-body class="name_input">
          <div class="name_input" style="display: flex">
            <h3 class="account_deatils">Organization Type *</h3>

            <input
              matInput
              [ngModel]="organizationType"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">Year Started *</h3>

            <input
              matInput
              [ngModel]="yearStarted"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">Number of Employees *</h3>

            <input
              matInput
              [ngModel]="numberofEmployees"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">SIC Code *</h3>

            <input
              matInput
              [ngModel]="accountInformation.NamedInsured_SICCode"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">FEIN *</h3>

            <input matInput [ngModel]="accountInformation.namedinsured_Taxidentifier" [attr.disabled]="true" disabled />
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>

      <kendo-tilelayout-item
        [col]="3"
        [colSpan]="1"
        [row]="1"
        [rowSpan]="1"
        class="home-menu"
      >
        <kendo-tilelayout-item-body>
          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">Contact Name *</h3>

            <input
              matInput
              [ngModel]="contactName"
              [attr.disabled]="true"
              disabled
            />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">Phone *</h3>

            <input matInput [ngModel]="accountInformation.NamedInsured_Primary_PhoneNumber" [attr.disabled]="true" disabled />
          </div>

          <div style="display: flex" class="name_input">
            <h3 class="account_deatils">Email *</h3>

            <input matInput [ngModel]="email" [attr.disabled]="true" disabled />
          </div>
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </kendo-card-body>
</kendo-card>
