<div class="forgotPasswordContainer">
  
  <div class="bluetopbar">
    <kendo-tilelayout
      [columns]="30"
      [rowHeight]="'100%'"
      [resizable]="false"
      [reorderable]="false"
      class="top-bar-header"
      [gap]="05"
      
    >
    
      <kendo-tilelayout-item class="divider" [col]="1" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #d6e5f1;">
        <kendo-tilelayout-item-body>
          
        </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="11" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #fff;margin-top: 30%;">

        <kendo-tilelayout-item-body>
            <div class="emailsent justify-center">
                <div class="frgtpswrd justify-center">
                  <div class="container">
                    <div class="row frgt_pswrd_main">
                      <div class="col-md-12">
                        <h2 class="header-black">
                          <b class="frgt_pswd_1">Forgot Password</b>
                        </h2>
                        <h4 class="forgt_subheader">
                          No worries, we will send you reset instructions.
                        </h4>
                        <div class="frgtpswrd1"></div>
                      </div>
                    </div>
          
                    <div class="row">
                      <div class="col-md-12">
                        <form [formGroup]="forgotPasswordForm">
                          <div class="frgtpswrd2">
                            <div class="col-md-12">
                              <mat-form-field class="fillWidth">
                                <input
                                  matInput
                                  class="inputtext-large"
                                  placeholder="* Business Email"
                                  style="height: auto; margin-bottom: 0.35rem"
                                  formControlName="email"
                                  (keyup)="resetError('email',$event)"
                                />
                              </mat-form-field>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <mat-error *ngFor="let err of validationErrors" style="text-align: left;padding-left: 35px;">
                          {{
                            err.Error
                          }}
                        </mat-error>
                        </div>
                      </div>
                      <div class="Btn_alignment">
                        <div class="col-md-12 col-sm-12 col-xs-12 right sndbtn" style="padding-top: 20px;">
                          <button
                            class="largeButton"
                            style="text-align: center"
                            matButton
                            (click)="forgotpassword()"
                          >
                            Reset Password
                          </button>
                        </div>
                      </div>
                      <div
                        class="col-md-12 backtosignin"
                        style="margin: 10% 0 5% -2%; display: flex; justify-content: center"
                      >
                        <div><mat-icon class="back-arrow">arrow_back</mat-icon></div>
                        <span>Back to </span>
                        <a
                          routerLink="/login"
                          queryParamsHandling="preserve"
                        >
                          <u>Sign In?</u></a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
      <kendo-tilelayout-item class="divider" [col]="21" [colSpan]="10" [row]="1" [rowSpan]="1" style="background-color: #d6e5f1;">
          <kendo-tilelayout-item-body>
    
          </kendo-tilelayout-item-body>
      </kendo-tilelayout-item>
    </kendo-tilelayout>
  </div>
</div>









