.forgotPasswordContainer {
    height: 100vh;
      width : 100vw;
      justify-items: center;
      overflow: hidden;
      //background-color: #7a9ec2;
      background-color: #d6e5f1;
      //background-color: #d9d8d6;
      box-shadow: 10px 10px 10px #d9d8d6;
      .matStyle{
          height: 55%;
          width: 27%;
          margin-top: 10%;
          margin-left: 36%;
          //box-shadow: 55px 100px white;
      }
      .logincontact{
          color: #758591;
      }
      .frgt_pswd_1{
        color:#000000;
        font-size: 20px;
      }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label{
      margin-left: 5px !important;
      width: auto !important;
      color: #758591;
    }
    ::ng-deep .backtosignin{
      color: #758591;
      font-size: 14px;
    }
    .backtosignin u{
      font-size: 14px;
      padding-left: 5px;
    }
    ::ng-deep .mat-form-field-label-wrapper{
      top:-.8rem;
      margin-bottom: 5px;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
      padding: 0 0 0 0;
      margin-top: 0em;
      position: relative;
      padding-left: 0px !important;
    }
  
  
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: -2rem 0 0 0 !important;
    }
    ::ng-deep .mat-form-field-outline-start {
      min-width: 20px !important;
      margin-left: 0px;
    }
    
    .matIcon{
      height: auto; 
      top: 0.5rem;
    }
    .matLabel
    {
      border-radius: 4px;
      margin-left:4px ;
    }
  ::ng-deep .mat-form-field-prefix{
    position: initial;
  }
  
  ::ng-deep .matInputBox{
    margin-left: 18px !important;
    margin-top:-5px !important;
    height: 18px !important;
    font-size: 18px;
  }
  .material-icons{
      border: none!important;
      background-color: transparent!important;
      //margin-left: 0.5rem !important;
      color: #758591;
      font-size: 30px;
      //padding-top: 1rem !important;
  }
  
    .frgtpswrd {
      height: 80%;
      //padding-top: 80px;
    }
    .fillWidth {
      width: 80% !important;
      padding-bottom: 0px;
      //padding-left: 0px!important;
  }
    .fillWidthTerms {
      max-width: 100%;
      width: 100%;
      padding-bottom: 0px;
      font-size: 8px;
    }
    .Btn_alignment {
      /* display: inline-flex; */
      text-align: center;
    }
    .frgtpswrd {
      text-align: center;
      font-size: 16px!important;
    }
    .frgtpswrd2 {
      display: inline;
      margin-top: 1rem;
    }
    .icon {
      position: absolute;
      left: 514px;
      top: 227px;
    }
    .login-page1 {
      padding-top: 20px;
      color: #000;
    }
    .frgtpswrdtemp1 {
      font-weight: 700;
      color: #000;
      padding-top: 60px;
      margin: 0;
    }
    .icon1 {
      padding: 13px;
    }
    // .material-icons {
    //   position: absolute;
    //   /* top: 157px; */
    //   /* background-color: #005daa; */
    //   color: #758591;
      
    //   font-size: 30px;
    //   padding: 11px;
    //   /* border-radius: 4px; */
    //   z-index: 999;
    //   margin-left: 38px;
    // }
    .btnsnt {
      color: #fff;
    }
  
    .register_content {
      // padding: 10px;
      // padding-top: 10px;
      color: #758591;
      font-size: 12px;
    }
    .login-page1 a {
      color: #005daa;
    }
    .email_id {
      color: #758591;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: whitesmoke;
    }
    .mat-raised-button:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D9D8D6!important;
  }
  ::ng-deep input.mat-input-element {
    font-size: 15px;
    color: #000000 !important;
  }
  ::ng-deep .mat-input-element {
    caret-color: #000000;
  }
  .register_content {
    padding-top: 20px;
  }
  a, u{
  color:#005daa;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #758591 !important;
    font-size: 16px;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    color: #758591 !important;
  }
  ::ng-deep form{
    padding-top: 0;
    margin: 0;
  }
  .header-black{
  margin-top: 12%;
  margin-bottom: 8%;
  }
  
  
  
    @media screen and (max-width: 1280px) {
      .icon {
        position: absolute;
        left: 440px;
        top: 227px;
      }
      .fillWidth {
        width: 92%!important;
        padding-bottom: 0px;
        //padding-left: 40px!important;
      }
      // .sndbtn {
      //   padding-left: 25px;
      // }
      .login-page1 {
        padding-top: 15px;
        padding-left: 38px;
      }
      .matStyle {
        height: 50%;
    }
  .frgtpswrdtemp1 {
      padding-top: 45px;
  }
  .fillWidth {
    width: 78% !important;
  }
  .largeButton {
    width: 16.5em;
  }
  ::ng-deep mat-error{
  padding-left: 32px!important;
  }
  .matStyle {
    margin-top: 14%;
  }
    }
    @media screen and (max-width: 1024px) {
      .icon {
        position: absolute;
        left: 342px;
        top: 227px;
      }
      .fillWidth {
        width: 40% !important;
        padding-bottom: 0px;
        //padding-left: 25px!important;
      }
        .header_text{
            text-align: left; 
    
        }
        .matStyle {
            height: 60%!important;
            margin-top: 10%;
        }
     .matStyle {
            margin-left: 36%;
        }
  .frgtpswrdtemp1 {
          padding-top: 26px;
      }
   .largeButton {
        width: 12em;
    }
    .fillWidth {
      width: 75% !important;
    }
    .frgt_pswrd_main {
      padding-top: 5% !important;
  }
  ::ng-deep mat-error{
    padding-left: 27px!important;
    }
    .header-black {
      margin-top: 3%;
      margin-bottom: 8%;
    }
  }
  
    @media screen and (max-width: 912px) {
      .icon {
        position: absolute;
        left: 326px;
        top: 227px;
      }
      .fillWidth {
        width: 60% !important;
        padding-bottom: 0px;
       // padding-left: 25px !important;
      }
        .matStyle{
            height: 30% !important;
            width: 60%;   
            margin-left: 20%;   
            margin-top: 25%!important;
        }
  .largeButton {
      width: 21em;
  }
  .frgt_pswrd_main{
    padding-top: 7%!important;
  }
  ::ng-deep mat-error{
    padding-left: 98px!important;
    }
    .frgt_pswrd_main {
      padding-top: 4% !important;
  }
    }
  
    @media screen and (max-width: 820px) {
      .icon {
        position: absolute;
        left: 282px;
        top: 227px;
      }
  .matStyle {
        height: 32% !important;
    }
    .largeButton {
      width: 19em;
  }
  .frgt_pswrd_main {
    padding-top: 5% !important;
  }
  ::ng-deep mat-error{
    padding-left: 87px!important;
    }
  .frgt_pswrd_main {
      padding-top: 2% !important;
    }
    }
  
    @media screen and (max-width: 768px) {
      .icon {
        position: absolute;
        left: 253px;
        top: 227px;
      }
      .sndbtn {
        padding-left: 34px;
      }
      .login-page1 {
        padding-top: 15px;
        padding-left: 50px;
      }
      .matStyle {
        height: 36% !important;
    }
    .largeButton {
      width: 18em;
      margin-left: -32px;
  }
  ::ng-deep mat-error{
    padding-left: 81px!important;
    }
    }
  
    @media screen and (max-width: 540px) {
      .fillWidth {
        width: 60% !important;
        padding-bottom: 0px;
        //padding-left: 40px!important;
      }
      .icon {
        position: absolute;
        left: 148px;
        top: 227px;
      }
        .matStyle {
            height: 50% !important;
        }
       .sndbtn {
          padding-left: 0px;
      }
      .largeButton {
        width: 12em;
        margin-left: 0;
      }
      .frgt_pswrd_main {
        padding-top: 2% !important;
    }
    ::ng-deep mat-error{
      padding-left: 53px!important;
      }
    }
  
    @media screen and (max-width: 415px) {
      .fillWidth {
        width: 70% !important;
        padding-bottom: 0px;
        //padding-left: 40px!important;
      }
      .icon {
        position: absolute;
        left: 92px;
        top: 251px;
      }
      .matStyle {
        height: 41% !important;
        margin-top: 36% !important;
    }
    .largeButton {
      width: 10em;
    }
    .frgt_pswrd_main {
      padding-top: 3% !important;
  }
  ::ng-deep mat-error{
    padding-left: 29px!important;
    }
    .header-black {
      margin-top: 8%;
    }
  }
  
    @media screen and (max-width: 413px) {
      .fillWidth {
        width: 68%;
        padding-bottom: 0px;
        //padding-left: 40px;
      }
      .frgt_pswrd_main {
        padding-top: 5% !important;
    }
    ::ng-deep mat-error{
      padding-left: 28px!important;
      }
    }
  
    @media screen and (max-width: 394px) {
      .icon {
        position: absolute;
        left: 88px;
        top: 251px;
      }
      .largeButton {
        width: 9em;
    }
    .frgt_pswrd_main {
      padding-top: 0% !important;
  }
  .matStyle {
    height: 42% !important;
  }
  ::ng-deep mat-error{
    padding-left: 26px!important;
    }
  }
    @media screen and (max-width: 376px) {
      .icon {
        position: absolute;
        left: 84px;
        top: 251px;
      }
      .fillWidth{
      width: 80% !important;
      padding-bottom: 0px;
      //padding-left: 40px !important;
      }
        .matStyle {
            height: 58% !important;
        }
        .largeButton {
          width: 10em;
        }
      .frgt_pswrd_main {
          padding-top: 9% !important;
      }
      ::ng-deep mat-error{
        padding-left: 16px!important;
        }
    }
    @media screen and (max-width: 361px) {
      .icon {
        position: absolute;
        left: 80px;
        top: 251px;
      }
      .frgt_pswrd_main {
        padding-top: 14% !important;
    }
    }
    @media screen and (max-width: 281px) {
      .icon {
        position: absolute;
        left: 62px;
        top: 251px;
      }
      .fillWidth{
        width: 100% !important;
        padding-bottom: 0px;
        //padding-left: 40px !important;
        }
        .sndbtn button{
        width: 100%;
        }
       .matStyle {
          height: 68% !important;
      }
    .largeButton {
      font-size: 12px;
    }
   .backtosignin u {
      font-size: 12px;
      padding-left: 5px;
  }
  .backtosignin {
    font-size: 12px;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    font-size: 14px!important;
  }
  ::ng-deep mat-error{
  // text-align: end!important;
      padding-left: 0px!important;
    }
    }
  
  
  //   @media screen and (max-height: 720px) {
  //    .fillWidth {
  //     width: 45% !important;
  //     padding-bottom: 0px;
  //     padding-left: 40px !important;
  //  }
  // }
  
  //   @media screen and (max-height: 414px) {
  //         .fillWidth {
  //           width: 45%!important;
  //           padding-bottom: 0px;
  //           padding-left: 40px;
  //       }
  // }
  
  // @media screen and (max-height: 360px) {
  //         .fillWidth {
  //           width: 80%!important;
  //           padding-bottom: 0px;
  //           padding-left: 40px;
  //       }
  // }
  
  @media screen and (max-height: 1368px) {
  .imgsize {
      right: 43%!important;
    }
  }
  
  }



















  ::ng-deep .tooltipCss {
    background-color: #f5f5f5 !important;
    font-size: 9px !important;
    align-self: right !important;
    text-align: left !important;
    align-items: flex-start;
    color: #0c2340 !important;
  
  }
  .changePasswordContainer {
    height: 100vh;
      width : 100vw;
      justify-items: center;
      overflow: hidden;
      background-color: #d6e5f1;
      
      .matStyle{
          height: 70%;
          width: 27%;
          margin-top: 7%;
          margin-left: 36%;
      }
      .logincontact{
          color: #758591;
      }
    .customPadding {
      margin-left: 20%;
      margin-top: 10px;
      min-width: none;
    }
    u {
      font-size: 12px;
    }
    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    input.mat-input-element {
      font-size: 12px;
      color: #000000 !important;
    }
    .mat-form-field-label {
      font-size: 25px;
    }
  
    .fillWidth {
      padding-bottom: 0px;
      display: block;
    }
  
    .fillWidthTerms {
      max-width: 100%;
      width: 100%;
      padding-bottom: 0px;
      font-size: 12px;
    }
  
    .halfWidth.shortPadding {
      height: 20px;
      width: 45%;
      padding-left: 2%;
    }
    .mat-custButtonColor {
      color: #fff;
    }
    .mat-list-item {
      height: 12px;
    }
  
    .resetfrm {
      text-align: center;
      display: flex;
      justify-content: center;
    }
  .header-black{
    padding-top: 2%;
    text-align: center;
    padding-bottom: 0.5%;
  }
    .register-btn {
      text-align: center;
    }
    .cntctus {
      color: #005daa !important;
    }
    .mat-label {
      color: #758591 !important;
    }
    .mat-form-field {
      color: #d9d8d6 !important;
    }
    .lgnbtn {
      float: left;
      margin-left: 42%;
      color:#ffffff;
    }
    .lgnbtn_1 {

      color:#ffffff;
    }
    .cntact_margn {
      padding-top: 30px;

      color: #000000;
      text-align: center;
    }
    .mat-raised-button:not([class*="mat-elevation-z"]) {
      box-shadow: none;
    }
    .reset_pswrd_1{
      color: #000;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      color: whitesmoke;
    }
    ::ng-deep .Loginborder{
      color: #D9D8D6!important;
    }
    ::ng-deep .mat-form-field-appearance-outline{
      color: #D9D8D6!important;
    }
    .mat-input-element {
      caret-color: #000;
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #D9D8D6!important;
  }

  .reset_content{
    padding-top: 20px;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #758591;
    font-size: 16px;
  }
  ::ng-deep .backtosignin{
    color: #758591;
    font-size: 14px;
  }
  .backtosignin u{
 padding-left: 5px;
 font-size: 14px;
 color:#005daa;
  }
.forgt_subheader{
font-size: 16px;
color: #000000;
  }


  @media screen and (max-width: 1280px) {

    .matStyle {
      margin-top: 10%;
    }
  }
  
  
    @media screen and (max-width: 1025px) {
      .resetfr {
        text-align: center;
        margin-left: 34%;
    }
      .fillWidth {
        width: 60%;
        padding-bottom: 0px;
        display: block;
      }
      .lgnbtn {
        float: left;
        margin-left: 40%;
        color: #ffffff;
    }
      .lgnbtn_1 {
        float: right;
        margin-right: 38%;
        color: #ffffff;
    }

    .resetfrm {
      margin-left: 34.5%;
  }
  mat-label {
    padding-left: 6px!important;
  }
  .resetfrm {
    margin-left: -11.5%;
    width: 167%;
  }
  .lgnbtn_1 {
    float: right;
    margin-right: 14%;
    }
    .matStyle {
      height: 79%;
        margin-top: 6%;
    }

  }
    @media screen and (max-width: 912px) {

    .lgnbtn {
      margin-left: 39.2%;
  }
  mat-label {
    padding-left: 0px!important;
  }
  .matStyle {
    width: 50%;
    margin-left: 25%;
      height: 40%;
    margin-top: 26%;
  }
  .lgnbtn_1 {
    margin-right: 33%;
  }
  .bck_to_lgn{
  margin-left: -17px!important;
  }
    }
  
    @media screen and (max-width: 820px) {
      .resetfrm {
        margin-left: 34%;
    }
    .lgnbtn {
      margin-left: 37.2%;
  }
  .lgnbtn_1 {
    margin-right: 38%;
  }
  .matStyle {
    height: 43%;
  }
  .resetfrm {
    margin-left: -10%;
  }
  .lgnbtn_1{
    margin-right: 29%;
  }
  .bck_to_lgn {
    margin-left: -10px !important;
  }
 
    }
  
  
    @media screen and (max-width: 768px) {
      .lgnbtn_1 {
        margin-right: 34%;
    }
    .lgnbtn {
      margin-left: 33.5%;
  }
  .lgnbtn_1 {
    margin-right: 27%;
  }
   .matStyle {
    height: 49%;
  }
    }
  
  
    @media screen and (max-width: 540px) {
      .resetfrm {
        text-align: center;
        margin-left: 29%;
      }
      .fillWidth {
        width: 80%;
        padding-bottom: 0px;
        display: block;
      }
      .lgnbtn {
        margin-left: 31.5%;
    }
    .lgnbtn_1 {
      margin-right: 31%;
  }
  .resetfrm {
    margin-left: -22%;
  }
  .lgnbtn_1 {
    margin-right: 12%;
  }
  .matStyle {
    height: 67%;
  }
    }
  
    @media screen and (max-width: 415px) {
      .lgnbtn {
        margin-left: 23.9%!important;
      }
      .lgnbtn_1 {
        margin-right: 24%!important;
    }
 
  .resetfrm {
    margin-left: 23%;
    width: 68%;
  }
  form{
    width: 163%!important;
  }
  .lgnbtn_1 {
    margin-right: -5% !important;
  }
  .matStyle {
    height: 57%;
    margin-top: 33%;
  }
  .largeButton {
    font-size: 13px;
    }
    }
  
    @media screen and (max-width: 394px) {
    .lgnbtn_1 {
      margin-right: 23% !important;
  }
  .lgnbtn {
    margin-left: 23.5% !important;
  }
  .lgnbtn_1{
    margin-right: -12% !important;
  }
  .matStyle {
    height: 62%;
  }
  .backtosignin {
    font-size: 13px;
}
.largeButton {
  font-size: 12px;
}
  }

  @media screen and (max-width: 391px) {
  .backtosignin {
    font-size: 12px;
}
  }
  
  
  @media screen and (max-width: 376px) {
  .lgnbtn_1 {
    margin-right: 21.3% !important;
  }
  .lgnbtn {
    margin-left: 21.5% !important;
  }
  .lgnbtn_1 {
    margin-right: -14.7% !important;
  }
  .matStyle {
    height: 78%;
  }
  .largeButton{
    font-size: 11px;
}
.backtosignin {
  font-size: 10px;
}
.backtosignin u {
  font-size: 10px;
}

  }
  
  @media screen and (max-width: 360px) {
  .lgnbtn h3{
    font-size: 15px;
  }
  .lgnbtn_1 h3{
    font-size: 15px;
  }
  .largeButton {
    font-size: 10px;
}
.matStyle {
  height: 75%;
}

  }
  
  
  @media screen and (max-width: 360px) {
    .lgnbtn h3{
      font-size: 12px;
    }
    .lgnbtn_1 h3{
      font-size: 12px;
    }
  }
  
  @media screen and (max-width: 280px) {
  .lgnbtn_1 {
    margin-right: 16.3% !important;
  }
  .lgnbtn {
    margin-left: 16.5% !important;
  }
  .lgnbtn_1{
    margin-right: -49.7% !important;
  }
  .matStyle {
    height: 84% !important;
  }
  .lgn{
  font-size: 10px!important;
  }
  }
  
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff;
}
  
::ng-deep .k-tilelayout {
  background-color: #d6e5f1;
}  
