<!-- <div class="v515_1200"></div> -->
<!-- <div class="v1038_2241"></div> -->
<!-- <div class="v1038_2152"></div>


<span class="v515_1201">Agency</span>

<div class="name"></div><span class="v515_1203">Agency Name</span><span class="v515_1221">Producer</span>
<span class="v515_1219">Agency Code</span><span class="v515_1222">Activity Rank</span><span class="v515_1204">ACE
    Insurance</span><span class="v515_1223">John Kelly</span><span class="v996_2153">jkelly@aceinsurance.com</span>
    <span class="v996_2154">312-987-3456</span><span
    class="v515_1220">A548889</span><span class="v515_1224">234 /
    4389</span> -->


    <!-- <div class="agency_container" style="padding: 0;">
                <div class="Agency">
                    <div class="Agency_header">
                        Agency
                    </div>
                </div>
                <div class="agency_details1">
                    <div class="row">  
                        <div class="col-md-6">
                        <div class="agency_name">Agency Name</div>
                        </div>
                    <div class="col-md-6">
                        <div class="agency_name">ACE Insurance</div>
                    </div>
                    </div>                 
                    </div>
                    <div class="agency_details">
                        <div class="row">  
                            <div class="col-md-6">
                            <div class="agency_name">Agency Code</div>
                            </div>
                        <div class="col-md-6">
                            <div class="agency_name">A548889</div>
                        </div>
                        </div>                 
                        </div>
                        <div class="agency_details">
                            <div class="row">  
                                <div class="col-md-6">
                                <div class="agency_name">Producer</div>
                                </div>
                            <div class="col-md-6">
                                <div class="agency_name">John Kelly</div>
                            </div>
                            </div>                 
                            </div>
                            <div class="agency_details">
                                <div class="row">  
                                    <div class="col-md-6">
                                    <div class="agency_name"></div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="agency_name">jkelly@aceinsurance.com</div>
                                </div>
                                </div>                 
                                </div>
                                <div class="agency_details">
                                    <div class="row">  
                                        <div class="col-md-6">
                                        <div class="agency_name"></div>
                                        </div>
                                    <div class="col-md-6">
                                        <div class="agency_name">312-987-3456</div>
                                    </div>
                                    </div>                 
                                    </div>

                                    <div class="agency_details">
                                        <div class="row">  
                                            <div class="col-md-6">
                                            <div class="agency_name"></div>
                                            </div>
                                        <div class="col-md-6">
                                            <div class="agency_name">312-987-3456</div>
                                        </div>
                                        </div>                 
                                        </div>
                                        <div class="agency_details">
                                            <div class="row">  
                                                <div class="col-md-6">
                                                <div class="agency_name">Activity Rank</div>
                                                </div>
                                            <div class="col-md-6">
                                                <div class="agency_name">234 / 4389</div>
                                            </div>
                                            </div>                 
                                            </div>
    </div> -->


    <!-- agency-card.component.html -->
    <div class="agency_container">
<kendo-card style="width: 100%;">
    <div class="Agency">
        <h3 class="k-card-title Agency_header" >Agency</h3>
    </div>
    <kendo-card-body>
        <div class="agency-details">
            <div class="row">
                <div class="agency_value agency_value_1">Agency Name</div>
                <div class="agency_value agency_value_2">{{ agencynamevalue }}</div>
                <div class="agency_value agency_value_3">Agency Code</div>
                <div class="agency_value agency_value_4">{{ agencycodevalue }}</div>
                <div class="agency_value agency_value_5">Producer</div>
                <div class="agency_value agency_value_6">{{ producer }}</div>
                <div class="agency_value agency_value_7"></div>
                <div class="agency_value agency_value_8">{{ produceremail }}</div>
                <div class="agency_value agency_value_9"></div>
                <div class="agency_value agency_value_10">{{ phone }}</div>
                <div class="agency_value agency_value_11">Agency Code</div>
                <div class="agency_value agency_value_12">{{ activityrank }}</div>
            </div>
            <!-- Add other detail rows here -->
        </div>
    </kendo-card-body>
</kendo-card>
</div>