.name {
  color: #fff;
}

.Agency_header{
padding: 3.5% 5%;
  color: rgba(255,255,255,1);
  // position: absolute;
  // top: 209px;
  // left: 367px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.Agency{
// width: 500px;
height: 61px;
background: #00B6AD;
opacity: 1;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05000000074505806);
overflow: hidden;
}
// .agency_name{
//   width:100%;  
// }
// .agency_name{
//     column-width: 60%;
// }
.agency_details1{
 padding: 2% 1% 1% 5%;
 font-size: 14px!important;
}
.agency_details{
  padding: 1% 1% 1% 5%;
}
.agency_value{
  width:50%;
  padding:1%;
}