
    <!-- agency-card.component.html -->
    <div class="agency_container" [ngClass]="animationClass">
<kendo-card style="width: 100%;margin: 0; ">
    <div class="Agency">
        <h3 class="k-card-title Agency_header" >Agency</h3>
    </div>
    <kendo-card-body class="agency_section">
        <div class="agency-details">
            <div class="row" style="padding: 0 5% 0 5%;">
                <div class="agency_value agency_value_1"><b>Agency Name</b></div>
                <div class="agency_value agency_value_2">{{ summary.Producer_Fullname }}</div>
                <div class="agency_value agency_value_3"><b>Agency Code</b></div>
                <div class="agency_value agency_value_4">{{ summary.Insurer_Produceridentifier }}</div>
                <div class="agency_value agency_value_5"><b>Producer</b></div>
                <div class="agency_value agency_value_6">{{ summary.producer_ContactPerson_FullName }}</div>
                <div class="agency_value agency_value_7"></div>
                <div class="agency_value agency_value_8">{{ summary.Producer_Mailingaddress_Lineone + ' ' + summary.Producer_Mailingaddress_Postalcode }}</div>
                <div class="agency_value agency_value_9"></div>
                <div class="agency_value agency_value_10">{{ summary.producer_ContactPerson_PhoneNumber }}</div>
                <div class="agency_value agency_value_11"><b>Agency Code</b></div>
                <div class="agency_value agency_value_12">{{ summary.activityRank }}</div>
            </div>
            <!-- Add other detail rows here -->
        </div>
    </kendo-card-body>
</kendo-card>
</div>