@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }  
.toolTipContainer {
    animation: fadein 1s;
  .toolTip {
    transition-property: opacity, left, top, height;
    transition-duration: 13s, 5s, 3s, 5s;
    padding: 2%;
    position: absolute;
    top: -10%;
    left: 100%;
    width: 20em;
    margin-left: 2%;
    background-color: #f5f5f5 !important;
    font-size: 12px !important;
    align-self: right !important;
    text-align: left !important;
    align-items: flex-start;
    color: #0c2340 !important;
    border-radius: 10px;
  }
  .toolTip::before {
    transition-property: opacity, left, top, height;
    transition-duration: 13s, 5s, 3s, 5s;
    content: "";
    position: absolute;
    top: 25%;
    left: 0%;
    margin-left: -4%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #009CC1 transparent transparent;
  }
}


