.toolTipContainer {
  .toolTip {
    content: "";
    padding: 2%;
    position: absolute;
    top: -10%;
    left: 100%;
    width: 20em;
    margin-left: 2%;
    background-color: #f5f5f5 !important;
    font-size: 12px !important;
    align-self: right !important;
    text-align: left !important;
    align-items: flex-start;
    color: #0c2340 !important;
    border-radius: 10px;
  }
  .toolTip::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 0%;
    margin-left: -4%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #009CC1 transparent transparent;
  }
}


