.tilelayout-wrapper {
    width: 100%;
  }

  .k-radio-label{
    padding: 2%;
  }
  .custom-size {
    width: 30px;
    height: 30px;
  }
  .k-checkbox {
    background-color: aliceblue;
  }

.k-checkbox:checked, .k-checkbox.k-checked {
    border-color: #ff6358;
    color: white;
    background-color: #ff6358;
}